/* ============================================ GENERAL DEFAULT */
body {
	background-color:#333333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #606060;
}
h1, h2, h3 {
	color: #585858;

}
h1 {
	margin-top:10px;
	margin-bottom:7px;
	font-size: 13px;
}
p, blockquote, ul, ol {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}
p {
	margin-bottom: 5px;
	text-align:justify;
}
ul, ol, li {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #F40C42;
}
a:hover {
	text-decoration: underline;
	color: #F40C42;
}
/* ============================================ HEADER */
#header {
	height: 110px;
	background-color:#333;
}
#logo {
	padding:10px;
	margin-left:15px;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	font: normal 46px Georgia, "Times New Roman", Times, serif;
}
#logo h1 a {
	/*color:lightgray;*/
}
#logo h2 {
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: normal;
	color: #B0B0B0;
}
#logo h2 a {
	color: #D9170E;
}
#logo h2 a:hover {
	text-decoration: underline;
	color: #D9170E;
}
#logo a {
	text-decoration: none;
	color: #D9170E;
}

/* ============================================ GENERAL TOP MENU */
#menuband {
	height:75px;
	background-color:darkgray;
	z-index:-10;
	border-bottom:1px solid #585858;
}
#menu {
	height:7px;
}
#menu ul {
	list-style: none;
}
#menu li {
	display: inline;
}
#menu a {
	position:relative;
	bottom:20px;
	padding:10px;
	letter-spacing: 1px;
	text-decoration: none;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-family: "CA BND Web Bold",Arial,sans;
	/*text-transform:uppercase;*/
	/*text-shadow:1px 1px white;*/
	font-size: 1.1em;
	/*font-weight: strong;*/
	color: #383B3F;
	background-color:#E8E8E8;
}

#menu a:hover, #menu .active a {
	background-color: #CC3300 ;
	color: #FFFFFF;
	border-bottom:7px solid lightgray;
}

#menuCurrent a {
	background-color:#707070;
	color: #FFFFFF;
	border-bottom:7px solid lightgray;
}

/* ============================================ LEFT MENU */
#leftmenu {
	float:left;
	display:inline;
	width:100%;
	padding:0px 0px 20px 0px;
}

#leftmenucontent {
	padding:2px;
}
.leftmenublock {
	background:#FFFDFA;
	border:solid 1px lightgray;
	padding:7px;
	margin:5px;
}
.leftmenublock h1 {
	margin-top:0px;
	margin-bottom:5px;
	font-size: 10px;
	border-bottom:1px solid lightgray;
}
.leftmenublock ul {
	list-style-type:none;
}

/* ============================================ CONTENT */
#wrapper {
	margin:0 auto;
	min-height:100%;
	/*position:relative;*/ /* enables faux columns to be positioned relative to wrapper */
	background:#999;
	overflow:hidden; /* clears floated columns in FX, Opera, Safari, & Chrome */
	background-color:#F2E6CE;
}
#contenttop {
	//float:left;
	//display:inline;
	/*width:770px;*/
}
#content {
	/*float:left;
	display:inline;*/
	padding:25px 20px 120px 20px;
	min-height:600px; 
	height:auto !important;
	height:600px;
	background-color:#F2F1ED;
	/*width:100%;*/
}

/* ============================================ FOOTER */
#footer { 
	background-color:#333;
	height:100px;
	padding:20px;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 11px;
}

#footer a {
	text-decoration: underline;
	color: #757E82;
}

#footer a:hover {
	text-decoration: none;
	color: #F90542;
}

/* ============================================  */










/*
#exhfacets {
	background-color:#FFFFFF; 
	margin:15px;
	padding:15px;
}
*/

/* ============================================ */
/* Exhibit ESE browse */
/*
.exhibit-collectionView-body li {
	height:70px;	
}

.post {
	width:500px;
	float:left;
	border:1px dotted;
	border-color:#A0A0A0;
	padding:10px;
	margin:2px;
	font-size: 10px;
	background-color:#FFFFFF;
	cursor: pointer;
}
.post:hover {
	background-color:#FFFFCC; 
}
.post a {
	display:block;
	width:100%;
	height:100%;
	font-size: 12px;
}
table.nobelist {
   border: 1px dotted #ddd;
   padding: 0.5em;
}
div.name {
   font-weight: bold;
   font-size:   120%;
}
.exname{
	font-size: 12px;
	color: #D9170E;
}
.exauthor , .exyear{
	float:right;
	color:#B8B8B8;
	//font-style:italic;
}

.exhibit-ui-protection div.post {
	padding:10px;
	margin:2px;
}
*/

/* ============================================ */
/* Account admin */
/*
.account {
	//background: url(images/img05.jpg) repeat-y left top;
	//width:500px;
	//float:center;
	border:1px dotted;
	border-color:#A0A0A0;
	padding:10px;
	margin:2px;
	//font-size: 10px;
	background-color:#FFFFFF;
}
*/
/* ============================================ */
/* Tooltip (deprecated?) see e.css */
 /*
.thetooltip {
	cursor: default;
}
.thetooltip a a:hover  {
	color: white;
	text-decoration: none;
}
#thetooltip {
    position:absolute;
    z-index:9999;
    //color: white;
    font-size:10px;
}
 
#thetooltip .tipHeader {
    height:8px;
    background:url(images/tipHeader.gif) no-repeat;
}
*/
/* IE hack */
/*
*html #thetooltip .tipHeader {margin-bottom:-6px;}
 
#thetooltip .tipBody {
    background-color:white;
    padding:5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	border:lightgray solid 1px;
}
 
#thetooltip .tipFooter {
    height:8px;
    background:url(images/tipFooter.gif) no-repeat;
}
*/
/* ============================================ */
