/* ============================================ */

.jplayerzone {
	float:left;
}
.chapter-summary {
	float:left;
	width:435px;
	overflow:auto;
	padding:0px 20px 0px 20px;
}       

/* ============================================ */

#esetabs {
	/*
	margin-top: 10px;
	margin-bottom: 20px;
	background-color:#D19552;
	*/
}
#esetabs ul {
	list-style: none;	
	background-color:#D19552;
	/*height:35px;*/
	padding:10px;
}
#esetabs li {
	display: inline;
	background-color:#D19552;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	vertical-align:center;
}

#esetabs li:first-child {
    list-style: none;
    /*
    font-size:13px;
    padding-left:20px;
	padding-right:20px;
	*/
	padding:10px;
	color:#FFFFFF;
}

#esetabs a {
	padding:10px;
	background-color:#F2DEA0;
	color:#585858;
	text-align: center;
	text-decoration: none;
}

#esetabs a:hover, #esetabs .active a {
	background: #F2F1ED;
	/*
	color: #FFFFFF;
	padding: 15px;
	*/
}
#esetabs #esetabactive {
	background: #F2F1ED;
}

/* ============================================ */
