*.pyc
*.log
logs/*
build/
media/pins/*
!.gitignore
upload/*
download/*
solrdataindex/*
settingsprivate.py
apache/django.wsgi
apache/qualiexplorer.conf
solr/work/Jetty_0_0_0_0_8985_solr.war__solr__.683e1v/
solr/work/Jetty_0_0_0_0_8986_solr.war__solr__g5mqe6/
~             
