.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

#menu-pages, #menu-settings-outer{
	border-left: 7px solid #393D49;	
}

section #sidebar{
	position:fixed;	
	left: -30px;
	z-index: 0;
	color: white;
	background:none;
	width:100px;
	overflow:hidden;
	margin:0;
	padding:0;
}
section #sidebar ul{
	width:114px;	
}
section #page{
	border-left: 7px solid #393D49;	
	
}
section #sidebar .allPage{
	height: auto;	
}
#sidebar li{
	background: #e1e1e1;	
}
#sidebar li .currentPage{
	background: #f1f1f1;	
	border-left: none;
}
#logomoto{
	display:none;	
}