{% extends "enquete/hook.html" %}
{% load i18n %}

{% block head %}

    <script src="{{ STATIC_URL }}/js/csvtotable/js/jquery.csvToTable.js"></script>
    <script src="{{ STATIC_URL }}/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}/js/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script src="{{ STATIC_URL }}/js/DataTables/extras/ColReorder/media/js/colReorderResize.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}/js/DataTables/media/css/jquery.dataTables.css" type="text/css" id="" media="print, projection, screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/js/DataTables/extras/flick/jquery.ui.theme.css" type="text/css" id="" media="print, projection, screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/js/DataTables/extras/flick/jquery-ui.css" type="text/css" id="" media="print, projection, screen" />
    
	
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/audio.min.js"></script>
	<!-- script type="text/javascript" src="{{ STATIC_URL }}js/jwplayer.js"></script>
	<script type="text/javascript">jwplayer.key="Q8pvYVJiRAZFafuu06UX9CRv4x0w1VGZSraGaQ==";</script -->
{% endblock %}

{% block outside_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/enquiry.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/audio.js"></script>
	
	
    <script>
        //we'll write script commands here
    </script>

{% endblock %}



{% block sidebar_add_section %}

{% endblock %}

{% block document_ready %}
	{{ block.super }}
{% endblock %}

{% block page_title %}
	{{ enquiry.title }}
{% endblock %}

{% block navbar %}	
	<div id="navbar">
		<ul class="nav navbar">
			
			{% for pin in sections %}
			<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
			{% endfor %}
			<li><a href="{{ STATIC_URL }}docs/enquete-{{ enquiry.enquete.id }}.pdf">&rarr; {% trans "Lire le rapport de l'enquête sur l'enquête (PDF)" %}</a></li>
			
			
		</ul>
	</div>
{% endblock %}


{% block page_hook_inner %}
		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}


{% block page_right %}	
	{% if edit_mode %}
		<div class="edit-mode add-enquiry-pin" data-enquiry-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add section" %} ]
		</div>
	{% endif %}

							<div class="clear"></div>
					{% endblock %}

{% block page_left %}

	<a id="description"></a>
	
	<section class="alpha wide" >
		<div class="icon {{ document.doctype }}">
			<img src="{{ STATIC_URL }}/img/{{ document.doctype }}.png" style="height:36px"/>
		</div>
		<h3>{{ document.name }}</h3>
		
		<div class="content" >
		{{ document.doccat1 }}

		{{ document.doccat2 }}
		
		</div>			
		
		<a class="return-link" href="{% url outside.views.enquete document.enquete.id %}">
			<img src="{{STATIC_URL}}/img/return-arrow.png"/> 
			<b>{% trans "retour à l'enquête" %}</b>
		</a>

		<div class="clear"></div>

	</section>
	
	<section class="wide">
		{% ifequal document.doctype "PDF" %}
			<div class="pdf">
				<object data="{% url outside_enquete_document_embed document.id %}#toolbar=1&amp;navpanes=0&amp;scrollbar=1&amp;page=0&amp;view=FitBV" type="application/pdf" width="700px" height="500px">
				  alt : <a href="{% url outside_enquete_document_embed document.id %}">{{ document.name }}.pdf</a>
				  <param name="view" value="Fit" />
				</object>
				
			</div>
	
		{% endifequal %}
		
		{% if document.doctype == "CSV" or mimetype == "CSV"  %}
			
			
			<!-- DISPLAY CSV FILE-->
			
			<!--	
			HEADER	
			-->
		
		<style>
			.tablesorter{
				width:400px;
				
			}			
		</style>
		
		<div id="CSVTable" width="200"></div>
		
		<div id="pager" width=500></div>
		
		<script>

			$('#CSVTable').CSVToTable('{% url outside_enquete_document_embed document.id %}', 
			    { 
			       loadingImage: '', 
			       startLine: 0,
			       separator:'\t',
			       tableClass:'tablesorter'
			       //headers: ['Album Title', 'Artist Name', 'Price ($USD)']
			    }
			).bind("loadComplete",function() { 
			    $('#CSVTable').find('TABLE')
			    	.dataTable({ "bJQueryUI": true,
			    	//"sScrollY": "500px",
			    	"sScrollX": "300px",
			    	"bAutoWidth": false,
			    	"oTableTools": {
						"sSwfPath": "{{STATIC_URL}}js/DataTables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
					},
					 "sDom": "Rlfrtip"
			    	
			    	})
			    	
			    
			});;

		</script>
		

		{% endif %}
		
		
		
		{% ifequal document.doctype "TEI" %}
			{% autoescape on %}
				{{ xslt_render|safe }}
			{% endautoescape %}

		{% endifequal %}
	</section>
	
{% endblock %}	