{% extends "enquete/hook.html" %}
{% load i18n %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/audio.min.js"></script>
	<!-- script type="text/javascript" src="{{ STATIC_URL }}js/jwplayer.js"></script>
	<script type="text/javascript">jwplayer.key="Q8pvYVJiRAZFafuu06UX9CRv4x0w1VGZSraGaQ==";</script -->
{% endblock %}

{% block outside_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/enquiry.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/audio.js"></script>

{% endblock %}



{% block sidebar_add_section %}

{% endblock %}

{% block document_ready %}
	{{ block.super }}
{% endblock %}

{% block page_title %}
	{{ enquiry.title }}
{% endblock %}

{% block navbar %}	
	<div id="navbar">
		<ul class="nav navbar">
			
			{% for pin in sections %}
			<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
			{% endfor %}
			<li><a href="{{ STATIC_URL }}docs/enquete-{{ enquiry.enquete.id }}.pdf">&rarr; {% trans "Lire le rapport de l'enquête sur l'enquête (PDF)" %}</a></li>

		</ul>
	</div>
{% endblock %}


{% block page_hook_inner %}
		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}


{% block page_right %}	
	{% if edit_mode %}
		<div class="edit-mode add-enquiry-pin" data-enquiry-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add section" %} ]
		</div>
	{% endif %}

							<div class="clear"></div>
					{% endblock %}

{% block page_left %}

	<a id="description"></a>
	
	<section class="alpha wide" >
		<div class="icon {{ document.doctype }}">
			<img src="{{ STATIC_URL }}/img/{{ document.doctype }}.png"/>
		</div>
		<h3>{{ document.name }}</h3>
		
		

		Test.
		<div class="clear"></div>

	</section>

	<section class="wide">
		{% ifequal document.doctype "PDF" %}
			<div class="pdf">
				<object data="{% url outside_enquete_document_embed document.id %}#toolbar=1&amp;navpanes=0&amp;scrollbar=1&amp;page=0&amp;view=FitBV" type="application/pdf" width="700px" height="500px">
				  alt : <a href="{% url outside_enquete_document_embed document.id %}">{{ document.name }}.pdf</a>
				  <param name="view" value="Fit" />
				</object>
				
			</div>
		{% else %}

		{% endifequal %}

	</section>
	
{% endblock %}	