{% extends "enquete/middle.html" %}
{% load i18n %}

{% block outside_scripts %}
	{{ block.super }}
	<!--<script src="{{STATIC_URL}}/js/outside/list.js" type="text/javascript"></script>-->

{% endblock %}

{% block head %}
	{{ block.super }}
	<!--<script src="{{STATIC_URL}}/js/jquery.masonry.min.js" type="text/javascript"></script>-->

{% endblock %}

{% block document_ready %}
	{{ block.super }}
	oo.list.init();
{% endblock %}

{% block sidebar %}
	<ul class="nav">
		<li><a href="#studies">{{ page.title }}</a></li>
	</ul>
	
	
{% endblock %}





{% block page_title %}
	{% trans "researches on the researches" %}
{% endblock %}

{% block page %}



<a id="enquetes"></a>
	<section id="list-of-enquetes" class="alpha expand items-container" style="width:auto; padding:36px">
	
	{% for e in enquiries %}
		
		{% with tags=e.tags.all %}
		<div class="enquete big item hover">
			<a href="{% url outside_enquiry e.enquete.id %}">
			<p class="classification">
			{% for topicclassification  in e.enquete.meta.values.general.topicclassification.value %}
				{{ topicclassification }}
			{% endfor %}
			</p>
			<!-- p class="ese-title">{{ e.title }}</p -->
			<p class="title">{{ e.title }}</p>
			<p class="author" >{% for t in tags %}{% ifequal t.type "AU" %} {{ t.name }} {% endifequal %}{% endfor %}</p>
			<div class="metadata">
				<p class="dates" >{% for t in tags %}{% ifequal t.type "Pl" %}{{ t.name }}, {% endifequal %}{% endfor %}
					{% for t in tags %}{% ifequal t.type "Da" %}{{ t.name }} {% endifequal %}{% endfor %}</p>
			
				<p class="geocover">{% for t in tags %}{% ifequal t.type "GC" %}{{ t.name }} {% endifequal %}{% endfor %}</p>
				<p class="abstract" >{{ e.abstract }}</p>
				<!-- ul class="statistics">
					<li>
						<span class="number">9</span> DOCS
					</li>
					<li>
						<span class="number">7</span> PEOPLE
					</li>
					<li>
						<span class="number">7</span> PEOPLE
					</li>
				</ul -->
			</div>
			</a>
		</div>
		{% endwith %}
	{% endfor %}
	
	{% for s in studies.all %}
		<div class="study big item">
			<p class="classification">
			{% for topicclassification  in s.meta.values.general.topicclassification.value %}
				{{ topicclassification }}
			{% endfor %}
			</p>
			<p class="title">{{s.name }}</p>
			<p class="author" >{% for authenty in s.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}</p>
			<div class="metadata">
				<p class="dates" >{% for nation in s.meta.values.general.nation.value %}{{ nation }}{% endfor %},
					{% for studydate in s.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}</p>
			
				<p class="geocover">{% for geogcover in s.meta.values.universe.geogcover.value %}{{ geogcover }}{% endfor %}</p>
				<p class="abstract" >{% for abstract  in s.meta.values.general.abstract.value %}{{ abstract }}{% endfor %}</p>
				<ul class="statistics">
					<li>
						<span class="number">9</span> DOCS
					</li>
					<li>
						<span class="number">7</span> PEOPLE
					</li>
					<li>
						<span class="number">7</span> PEOPLE
					</li>
				</ul>
			</div>
		</div>
	{% endfor %}
		<div class="clear"></div>
	</section>

	{% for p in pins %}
	<div class="section expand">
		{% comment %}
		<div class="marker-wrapper">
			<div class="marker" >
				{{ p.date_last_modified|date:"d M." }}
			</div>
		</div>
		{% endcomment %}
		<a id="{{ p.slug }}"></a>
		<h2>{{ p.title }}</h2>
		{% if p.local %}
			<a href="{% url outside_download p.slug %}">{% trans "download as" %} {{ p.mimetype }}</a>
		{% endif %}

		<div class="author"><a href="">{% for u in p.users.all %}{{ u.username }}{% endfor %}</a></div>

		{% if edit_mode %}
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit content" %} id:{{ p.id }} ]</div>
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit slug" %} #{{ p.slug }} ]</div>
			<div class="edit-mode delete-pin" href="#" data-pin-id="{{ p.id }}" role="button">[ {% trans "delete slug" %} #{{ p.slug }} ]</div>

			{% ifequal p.status 'D' %}
				<div class="edit-mode publish-pin" href="#" new-status="P" data-pin-id="{{ p.id }}" role="button">[ {% trans "publish" %} ]</div>
			{% else %}
				<div class="edit-mode publish-pin" href="#" new-status="D" data-pin-id="{{ p.id }}" role="button">[ {% trans "draftify" %} ]</div>
			{% endifequal %}

		{% endif %}

		<div class="abstract">
			{{ p.abstract|safe }}
		</div>

		<div class="content">
			{{ p.content|safe }}
			
		</div>
		<div class="clear"></div>
		
	</div>
	
	{% endfor %}
	
{% endblock %}	





{% block navbar %}	
						<div id="navbar">
							<ul class="nav navbar">
								<li class="active"><a href="#list-of-enquetes">{% trans "list of studies"%}</a></li>
								{% for pin in pins %}
								<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
								{% endfor %}
								
							</ul>
						</div>
{% endblock %}