{% extends "enquete/middle.html" %}
{% load i18n %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/audio.min.js"></script>
{% endblock %}

{% block outside_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/enquiry.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/outside/audio.js"></script>

{% endblock %}



{% block sidebar_add_section %}

{% endblock %}

{% block document_ready %}
	{{ block.super }}
	{% if edit_mode %}
		//oo.enquiry.upload.enquiry_id = {{ enquiry.id }};
		oo.enquiry.upload.init();
	{% endif %}
{% endblock %}

{% block page_title %}
	{{ enquiry.title }}
{% endblock %}

{% block navbar %}	
	<div id="navbar">
		<ul class="nav navbar">
			<li><a href="{% url outside_enquete enquiry.enquete.id %}">&larr; {% trans "revenir à l'enquête" %} : <h3>&laquo;	 {{  enquiry.enquete.name }} &raquo;	</h3></a></li>

			{% for pin in sections %}
			<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
			{% endfor %}
			
		</ul>
	</div>
{% endblock %}

{% block page_right %}	
	{% if edit_mode %}
		<div class="edit-mode add-enquiry-pin" data-enquiry-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add section" %} ]
		</div>
	{% endif %}

							{% for p in news %}
								<div class="pin">
									<a href="{% url outside_news %}#{{ p.slug }}">
									<div class="date-wrapper">
										<div class="date">{{ p.date_last_modified|date:"d M." }}</div>
									</div>
									<h2>{{ p.title }}</h2>
									<!-- div class="date">{{ p.date_last_modified|date:"d M. Y" }}</div -->
									<div class="abstract">{% if p.abstract %}{{ p.abstract }}{% else %}an abstract ici{% endif %}{% for u in p.users.all %}{{ u.username }}{% endfor %}</div>
									</a>
								</div>
							{% endfor %}
							
							<div class="clear"></div>
					{% endblock %}

{% block page_left %}

	<a id="description"></a>
	
	<section class="alpha wide" >
		
		
		<h3>{{ enquiry.enquete.name }} : <span class="cyan">enquête sur l'enquête</span></h3>

		<div class="abstract">
			{% trans "an enquiry about"%} <a href="{% url outside_enquete enquiry.enquete.id %}">{{ enquiry.enquete.name }}</a>
		</div>

		<div class="content">
			{% trans "an enquiry about"%} <a href="{% url outside_enquete enquiry.enquete.id %}">{{ enquiry.enquete.name }}</a>
		</div>

		{% if edit_mode %}
				<div class="edit-mode add-enquiry-pin"  href="#add-section-modal" data-enquete-id="{{ enquiry.enquete.id }}" role="button" title="{% trans "edit mode" %}: {% trans "add enquiry content" %}"> [ {% trans "add enquiry content" %} ] </div>
			{% endif %}
		<div class="abstract">{{ enquiry.abstract }}</div>
		<div class="dates" ></div>



		<script>
      $(function() { 
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        
        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
          if (unicode == 39) {
            var next = $('li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
    </script>

		<div class="pin-box">
			{% for p in sections %}
			<div class="chapter">
				{% comment %}
				<div class="marker-wrapper">
					<div class="marker" >
						{{ p.date_last_modified|date:"d M." }}
					</div>
				</div>
				
				{% endcomment %}
				<a id="{{ p.slug }}"></a>
				<h2>{{ p.title }}</h2>


		      <audio preload></audio>
		      <ol>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/01-dead-wrong-intro.mp3">dead wrong intro</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/02-juicy-r.mp3">juicy-r</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/03-its-all-about-the-crystalizabeths.mp3">it's all about the crystalizabeths</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/04-islands-is-the-limit.mp3">islands is the limit</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3">one more chance for a heart to skip a beat</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/06-suicidal-fantasy.mp3">suicidal fantasy</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/07-everyday-shelter.mp3">everyday shelter</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/08-basic-hypnosis.mp3">basic hypnosis</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/09-infinite-victory.mp3">infinite victory</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3">the curious incident of big poppa in the nighttime</a></li>
		        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/11-mo-stars-mo-problems.mp3">mo stars mo problems</a></li>
		      </ol>



				{% if p.local %}
				{% comment %}
					<a href="{% url outside_download p.slug %}">{% trans "download as" %} {{ p.mimetype }}</a>
					{% endcomment %}
				{% endif %}

				<div class="author"><a href="">{% for u in p.users.all %}{{ u.username }}{% endfor %}</a></div>

				{% if edit_mode %}
					<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit content" %} id:{{ p.id }} ]</div>
					<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit slug" %} #{{ p.slug }} ]</div>
					<div class="edit-mode delete-pin" href="#" data-pin-id="{{ p.id }}" role="button">[ {% trans "delete slug" %} #{{ p.slug }} ]</div>

					{% ifequal p.status 'D' %}
						<div class="edit-mode publish-pin" href="#" new-status="P" data-pin-id="{{ p.id }}" role="button">[ {% trans "publish" %} ]</div>
					{% else %}
						<div class="edit-mode publish-pin" href="#" new-status="D" data-pin-id="{{ p.id }}" role="button">[ {% trans "draftify" %} ]</div>
					{% endifequal %}

				{% endif %}

				<div class="abstract">
					{{ p.abstract|safe }}
				</div>

				<div class="content">
					{{ p.content|safe }}
					
				</div>

				<div class="drag-over-me">
					<form action="#">
						<input type="file" name="files[]" data-enquiry-id="{{ enquiry.id }}" data-pin-slug="{{ p.slug }}" multiple class="fileupload"/>
					</form>
					<div class="message">why don't you drag some file directly here?</div>
				</div>
				<div class="clear"></div>
				
			</div>
			
			{% endfor %}

			<div class="clear"></div>

		</div>


	</section>
	
{% endblock %}	