{% extends "enquete/hook.html" %}
{% load i18n %}

{% block less%}
	{{ block.super }}
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/enquete.less">
	
{% endblock %}



{% block head %}
	<!-- specific script / stylesheet -->
	<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
  	<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>
	
	<script type="text/javascript">
		/*
		$(document).ready(function () {
		    $( "#tabs" ).tabs({
				beforeLoad: function( event, ui ) {
				ui.jqXHR.error(function() {
				ui.panel.html(
				"Couldn't load this tab. We'll try to fix this as soon as possible. " +
				"If this wouldn't be a demo." );
				});
				}
				});
		    $("#dialog").dialog();
		});
		*/
	</script>


{% endblock %}

{% block outside_scripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}js/outside/filters.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_map.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_timeline.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_types.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_documents.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enquiry.js" type="text/javascript"></script>
	
	
	
	
	
	
{% endblock %}

{% block document_ready %}
	{{ block.super }}

	{% if not "disable-geo" in disabled %}
		oo.enq.disabled.map = true;			
	{% endif %}

	oo.filt.init();
	oo.enq.init();
	oo.enquiry.init();
{% endblock %}


{% block sidebar %}
	<ul class="nav">
		<li class="active"><a href="#visualization">{% trans "documents" %}</a></li>
		<li class="active"><a href="#content">{% trans "description" %}</a></li>
		{% if enquete.enquiry %}
		<li><a href="#">{% trans "Research on the research" %}</a></li>
		
		{% endif %}

	</ul>
	
{% endblock %}




{% block sidebar_add_section %}
	{% if not enquete.enquiry and edit_mode %}
		<div class="edit-mode add-enquiry" data-enquete-id="{{ page.id }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add enquete sur enquete" %}">[ {% trans "add enquete sur enquete" %} ]
				</div>

	{% endif %}
{% endblock %}

{% block page_title %}
	{% trans "enquete" %} #{{ enquete.id }}
{% endblock %}

{% block page_header %}
	{{ block.super }}
	
{% endblock %}

{% block page_hook_inner %}

	
		
		<!-- <div class="authors">{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}</div>
		<div class="dates" >{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}{% endfor %}, {% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}</div> -->
		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% if not forloop.last %}, {% endif %}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}

{% block page_left %}
	
	
	<section id="visualization" class="alpha wide" style="padding-top:0px;height:880px">

		          <!-- Button to trigger modal -->
   &nbsp;&nbsp;&nbsp;
   
  
   	
   
   	
   	 <a id="help-general" href="#modal-help-general" role="button" class="btn_help_modal help-icon" data-toggle="modal">
   	<em><b> Comment utiliser les outils d'exporation?</b></em>
			
			</a>
		
		
	

		<div class="map content" style="margin-left:0px; margin-top:18px">
			<a id="help-filtre0" href="#modal-filtre0" role="button" class="btn_help_modal help-icon" data-toggle="modal" 
    		title="Filtrer selon les étapes du processus de recherche"><em><b></b>Explorer le corpus via le classement analytique des documents</em></a>
		
			<br/>
			
			<a id="help-filtre1" href="#modal-filtre1" role="button" class="btn_help_modal help-icon" data-toggle="modal" title="Filtrer selon les étapes du processus de recherche">
				<em>Filtrer selon les étapes du processus de recherche</em></a>
			
			<div><p class='typetitle'>1. Etapes</p></div>
			<div id="phases"></div>
			
			<a id="help-filtre2" href="#modal-filtre2" role="button" class="btn_help_modal help-icon" data-toggle="modal" 
    		title="Filtrer selon le type d'activité"><em>Filtrer selon le type d'activité</em></a>
			<div><p class='typetitle'>2. Type d'activité</p></div>
			<div id="categories"></div>
			
			<a id="help-filtre3" href="#modal-filtre3" role="button" class="btn_help_modal help-icon" data-toggle="modal"
			 title="Filtrer selon le type de documents"><em>Filtrer selon le type de documents</em></a>
			<div><p class='typetitle'>3. Type de documents</p></div>
			<div id="articles"></div>

		
			<a id="help-filtre4" href="#modal-filtre4" role="button" class="btn_help_modal help-icon" data-toggle="modal" 
	title="Explorer le corpus via la localisation géographique des documents"><em></em>
		Explorer le corpus via la localisation géographique des documents
	</a>   	
			<div id="map"></div>
			
			
    		
			<div id="timeline">
				<input id="location" checked="checked" type="checkbox" name="location" value="unclassified"> Afficher les fichiers non localisés<br>
				
				<a id="help-filtre5" href="#modal-filtre5" role="button" class="btn_help_modal help-icon" data-toggle="modal" 
			
			title="Explorer le corpus via la répartition temporelle des documents"><em>Explorer le corpus via la répartition temporelle des documents</em></a>

				
			</div>
			
		</div>
		<div class="clear"></div>
	</section>

	<a ></a>
	
	{%comment%}
	<section id="content" class="section expand" >
		<div class="abstract">
			{% for abstract  in enquete.meta.values.general.abstract.value %}{{ abstract }}{% endfor %}
		</div>

		<div class="content">
			{% for abstract  in enquete.meta.values.general.abstract.value %}{{ abstract }}{% endfor %}
			

		</div>
	</section>
	{%endcomment%}


{% endblock %}


{% block right_sidebar %}	
	<div id="right-sidebar" >

		{% block page_right %}	
			{% if edit_mode %}
				<div class="edit-mode add-pin" data-page-slug="" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add news" %} ]
				</div>
			{% endif %}

			<div id="reset">
				<i class="icon-rotate-right" style="font-size:19px;color:#0299CC">
					
				</i> Réinitialiser les filtres
				</div>

			<!-- <p><i class="icon-repeat icon-white"></i></p> -->

			<div id="counter">
				<p>
					<span class="docNumber"></span>
					<span class='docLabel'>{% trans "documents" %}</span>
				</p>
			</div>
			<div id="documents" >
				<div id="documents-inner">
					<ul></ul>
				</div>
			</div>

		{% endblock %}


<!-- 		{% block navbar %}	
		<div id="navbar">
			<ul class="nav navbar">
				<li><a href="#visualization">{% trans "document visualization"%}</a></li>
				<li><a href="#content">{% trans "study metadata"%}</a></li>
				
				
			
			</ul>
		</div>	
		{% endblock %} -->

	
		<div class="clear"></div>
	</div>				
{% endblock %}

				


{% block modals %}
	{{ block.super }}
	{% if edit_mode %}
	<div class="modal fade" id="add-enquiry-modal">
		<form method="POST">{% csrf_token %}

		<div class="modal-header">
		<!-- button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button -->
		<h3>{% trans "add enquiry" %}</h3>
		</div>
		<div class="modal-body">
			<input type="hidden" value="{{  request.get_full_path }}" name="next"/>

			{{ add_enquiry_form.as_p }}
		</div>
		<div class="modal-footer">
		<input type="button" data-dismiss="modal" class="bad" value="{% trans "cancel" %}" />
		<input type="submit" href="#" id="add-enquiry" data-enquete-id="{{ enquete.id }}" value="{% trans "add enquiry" %}"/>
		</div>
	</div>
	{% endif %}
	
	
	
	
	
	
	
	
	<!-- Modal -->
    
    <div id="modal-filtre0" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Explorer le corpus via le classement analytique des documents</h3>
   		</div>
   		 <div class="modal-body">
   			Les diagrammes en barres ci-dessous présentent la distribution des document selon, respectivement, les 3 niveaux du plan de classement.
			Chaque barre représente une catégorie du plan de classement. En cliquant sur une barre donnée, vous sélectionnez les documents de la catégorie correspondante.
			Vous pouvez à tout moment revenir à l'étape précédente en cliquant à nouveau sur cette barre.
			
			
			
   		 </div>
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
    
    
    
    
    
    
    <div id="modal-filtre1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Filtrer selon les étapes du processus de recherche</h3>
   		</div>
   		 <div class="modal-body">
   			<b>Ici vous pouvez sélectionner les documents relevant :</b>
   			<ul>
				<li>d’une étape préparatoire (préparation)</li>
				<li>de la phase de collecte des matériaux (collecte)</li>
				<li>de la phase d’analyse des matériaux (analyse)</li>
				<li>ou ajoutés ex post au corpus (complément)</li>
			
			</ul>

   		 </div>
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
    
    <div id="modal-filtre2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Filtrer selon le type d'activité</h3>
   		</div>
   		 <div class="modal-body">
   			<b> Ici vous pouvez sélectionner les documents relevant d’une activité :</b>
  		 	<ul>
				<li>administrative (admi)</li>
				<li>de documentation (docu)</li>
				<li>méthodologique (methodo)</li>
				<li>d’enregistrements d’observations sur le terrain (audio, icono, vidéo)</li>
				<li>de consignation par écrit des observations (note, transcription)</li>
				<li>de traitement des matériaux résultant (inter)</li>
				<li>de production de résultats scientifiques (prod)</li>
			</ul>
		
   		 </div>
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
    
     <div id="modal-filtre3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Filtrer selon les types de documents</h3>
   		</div>
   		 <div class="modal-body">
   		
   		
   		<b>Ici vous pouvez sélectionner les types de documents suivants (dans la mesure où ils sont présents dans le corpus) :</b>
   		<ul>

	   		<li>budget (budget)</li>
			<li>correspondance (corresp)</li>
			<li>missions (mission)</li>
			<li>réunions (reunion)</li>
			<li>archives des enquêtés (archives)</li>
			<li>documentation compilée par le chercheur (info)</li>
			<li>contexte matériel de l’enquête (contextmat)</li>
			<li>outils du protocole d’enquête (outils)</li>
			<li>notes de terrain contextuelles (topo)</li>
			<li>gestion du recrutement (recrut)</li>
			<li>entretien individuel (entretienindiv)</li>
			<li>entretien collectif (entretiencol)</li>
			<li>questionnaires</li>
			<li>observations (topo)</li>
			<li>fiches sur les enquêtés ou l’analyse des matériaux (fiche)</li>
			<li>publications (publi)</li>
			<li>communications (com)</li>
			<li>cours (cours)</li>
		    <li>littérature grise (lgrise)</li>
   		</ul>
   			

   		 </div>
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
    
    <div id="modal-filtre4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Explorer le corpus via la localisation géographique des documents</h3>
   		</div>
   		 <div class="modal-body">
				<b>Les cercles présents sur la carte représentent les documents regroupés selon leur localisation géographique.
	Ce filtre peut être actionné de deux manières :</b>
			
			<ul>
	
		   	
		   		
		   		<li>en cliquant sur un cercle, le cadre se centre autour de celui-ci, vous pouvez ensuite zoomer pour ne faire
	   apparaître que le cercle sélectionné</li>
				<li>en déplaçant le cadre de la carte avec la souris ou le pavé tactile, jusqu’à ne faire apparaître que le ou les
	          cercles sélectionnés, en zoomant si nécessaire</li>
				
	   		</ul>
			
			La liste des documents filtrés est affichée dans la colonne de droite.
			
			<br/>
			  Les documents non localisés n'apparaissent pas sur la carte. Vous pouvez les faire apparaître dans la colonne de droite en cochant la case "Afficher les fichiers non localisés".

   		 </div>
   		 
   		 
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
   
   
   <div id="modal-filtre5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
   			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Explorer le corpus via la répartition temporelle des documents</h3>
   		</div>
   		 <div class="modal-body">
   			<b>Cette ligne correspond à une visualisation temporelle dont chaque
graduation correspond à une année.
Ce filtre peut être actionné de deux manières:</b>

<ul>
	
		   		
		   		
		   		<li>en cliquant sur une barre correspondant à une année donnée,
      sélectionnant ainsi les documents correspondants</li>
				<li>en étirant la bande bleue située sous la ligne, de manière à
       sélectionner la plage chronologique désirée. Cette bande, peut
         ensuite être déplacer le long de la ligne de temps.</li>
				
	   		</ul>
   			
   			

   		 </div>
    	<div class="modal-footer">
   			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		
   		 </div>
    </div>
    
     <!-- Modal -->
    <div id="modal-help-general" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Aide générale</h3>
	    </div>
	    <div class="modal-body">
			 <b> 3 types de filtres permettent d'explorer le corpus :</b>
			 
			  <ul>
			  	<li>1- le classement analytique des documents</li>
			  	<li>2- la localisation géographique des documents</li>
			  	<li>3- la date des documents</li>
			  </ul>
			   <br/>
			<b>Ces filtres :</b>
			 <br/>
			<ul>
				<li>peuvent être utilisés de manière indépendante ou combinée : vous pouvez sélectionner un filtre puis
				         affiner votre sélection avec les deux autres jusqu'à obtenir le résultat souhaité.</li> <br/>
				<li>sont interdépendants : toute action effectuée sur un des filtres se répercute automatiquement sur les
				      deux autres.</li> <br/>
				<li>sont associés à des visualisations représentant le poids relatif de chaque élément du corpus. Chaque action
				        sur un filtre déclenche une transition animée permettant de visualiser la modification du corpus par
				         rapport à l'étape précédente</li> <br/>
				<li>La liste de documents affichée dans la colonne de droite correspond au résultat de la requête effectuée à
				        l'aide de ces filtres. Chaque document y est identifié par son nom, sa date et sa localisation géographique.</li>
				<li>Un chemin de fer situé en haut de cette colonne fournit un récapitulatif des filtres actionnés et permet soit
				      de les désactiver un par un soit de tout réinitialiser.</li> <br/>
				<li>Si vous avez obtenu l’accès à l’enquête, vous pouvez cliquer sur chaque document pour l’afficher dans une
				            autre fenêtre.</li>
			</ul>
			
			Pour plus d'information sur l'usage avancée des filtres, cliquez ici.

	    </div>
	    <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    
	    </div>
    </div>
    
    <!--
    <div id="dialog">
		<div id="tabs">
		    <ul>
		        <li><a href="/reanalyse/document/11826/">tab 1</a></li>
		        <li><a href="#tabs-2">tab 2</a></li>
		        <li><a href="#tabs-3">tab 3</a></li>
		    </ul>
		    
		    <div id="tabs-1">
		        test 1
		    </div>
		    
		    <div id="tabs-2">
		        test 2
		    </div>
		    
		    <div id="tabs-3">
		        test 3
		    </div>
		    
		</div>


	</div>
	
	-->

	
{% endblock %}


{% block api_urls %}
	
	
	{{ block.super }}
	
	oo.urls.get_enquete_data = "{% url outside_enquete_data enquete.id %}";
	oo.urls.get_document = "{% url outside_enquete_document 0 %}";

{% endblock %}
