{% extends "enquete/hook.html" %}
{% load i18n %}

{% block less%}
	{{ block.super }}
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/enquete.less">
	
{% endblock %}



{% block head %}
	<!-- specific script / stylesheet -->
	<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
  	<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
	<script src="http://d3js.org/d3.v3.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>

{% endblock %}

{% block outside_scripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}js/outside/filters.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_map.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_timeline.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_types.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enq_documents.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/outside/enquiry.js" type="text/javascript"></script>
{% endblock %}

{% block document_ready %}
	{{ block.super }}

	{% if not "disable-geo" in disabled %}
		oo.enq.disabled.map = true;			
	{% endif %}

	oo.filt.init();
	oo.enq.init();
	oo.enquiry.init();
{% endblock %}


{% block sidebar %}
	<ul class="nav">
		<li class="active"><a href="#visualization">{% trans "documents" %}</a></li>
		<li class="active"><a href="#content">{% trans "description" %}</a></li>
		{% if enquete.enquiry %}
		<li><a href="#">{% trans "enquete sur l'enquete" %}</a></li>
		
		{% endif %}

	</ul>
	
{% endblock %}




{% block sidebar_add_section %}
	{% if not enquete.enquiry and edit_mode %}
		<div class="edit-mode add-enquiry" data-enquete-id="{{ page.id }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add enquete sur enquete" %}">[ {% trans "add enquete sur enquete" %} ]
				</div>

	{% endif %}
{% endblock %}

{% block page_title %}
	{% trans "enquete" %} #{{ enquete.id }}
{% endblock %}

{% block page_header %}
	{{ block.super }}
	
{% endblock %}

{% block page_hook_inner %}

	
		
		<!-- <div class="authors">{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}</div>
		<div class="dates" >{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}{% endfor %}, {% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}</div> -->
		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}

{% block page_left %}
	
	
	<section id="visualization" class="alpha wide" style="padding-top:0px">
		
		

		

		<div class="map content" style="margin-left:0px; margin-top:18px">
			<div id="phases"></div>
			<div id="categories"></div>
			<div id="articles"></div>

		
			<div id="map"></div>
			
			
			
			<div id="timeline"></div>
			
		</div>
		<div class="clear"></div>
	</section>

	<a ></a>
	<section id="content" class="section expand" >
		<div class="abstract">
			{% for abstract  in enquete.meta.values.general.abstract.value %}{{ abstract }}{% endfor %}
		</div>

		<div class="content">
			{% for abstract  in enquete.meta.values.general.abstract.value %}{{ abstract }}{% endfor %}
			

		</div>
	</section>


{% endblock %}


{% block right_sidebar %}	
	<div id="right-sidebar" >

		{% block page_right %}	
			{% if edit_mode %}
				<div class="edit-mode add-pin" data-page-slug="" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add news" %} ]
				</div>
			{% endif %}

			<div id="reset">→ Reetablir les filtres</div>

			<!-- <p><i class="icon-repeat icon-white"></i></p> -->


			<div id="counter">
				<p>
					<span class="docNumber"></span>
					<span class='docLabel'>{% trans "documents" %}</span>
				</p>
			</div>
			<div id="documents">
				<div id="documents-inner">
					<ul></ul>
				</div>
			</div>

		{% endblock %}


<!-- 		{% block navbar %}	
		<div id="navbar">
			<ul class="nav navbar">
				<li><a href="#visualization">{% trans "document visualization"%}</a></li>
				<li><a href="#content">{% trans "study metadata"%}</a></li>
				
				
			
			</ul>
		</div>	
		{% endblock %} -->

	
		<div class="clear"></div>
	</div>				
{% endblock %}

				


{% block modals %}
	{{ block.super }}
	{% if edit_mode %}
	<div class="modal fade" id="add-enquiry-modal">
		<form method="POST">{% csrf_token %}

		<div class="modal-header">
		<!-- button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button -->
		<h3>{% trans "add enquiry" %}</h3>
		</div>
		<div class="modal-body">
			<input type="hidden" value="{{  request.get_full_path }}" name="next"/>

			{{ add_enquiry_form.as_p }}
		</div>
		<div class="modal-footer">
		<input type="button" data-dismiss="modal" class="bad" value="{% trans "cancel" %}" />
		<input type="submit" href="#" id="add-enquiry" data-enquete-id="{{ enquete.id }}" value="{% trans "add enquiry" %}"/>
		</div>
	</div>
	{% endif %}
{% endblock %}


{% block api_urls %}
	
	
	{{ block.super }}
	
	oo.urls.get_enquete_data = "{% url outside_enquete_data enquete.id %}";


{% endblock %}
