{% extends "enquete/middle.html" %}
{% load i18n %}
{% block page_hook %}
	
	<div class="hook">
		
		<div class="nav">
			<div class="back floating" >
				<a href="{% url outside_enquetes %}" title="  {% trans "back to enquetes list" %}"><span class="icon-arrow-left" style="font-size:16px"></span></a>
			</div>

			<div class="back floating with-icon {% if "metadata" in tags %}selected{%endif%}">
				<a href="{% if enquiry %}{% url outside_enquete_metadata enquiry.enquete.id %}{% else %}{% url outside_enquete_metadata enquete.id %}{% endif %}" title="{% trans "The research in a nut shell" %}" >
					<div class="icon"><span class="icon-compass" ></span></div>{% trans "Focus on the research" %}
				</a>
			</div>
			
			<div class="back floating with-icon {% if "visualizations" in tags %}selected{%endif%}">

				<a href="{% url outside_enquete enquete.id %}"> 
					<div class="icon" style="margin-top:0px"><span class="icon-eye-open " style=""></span></div> {% trans "Research content" %}
				</a>
			</div>
			
			
			<div class="back floating with-icon {% if "enquiry" in tags %}selected{%endif%}">
				<a href="{% if enquiry %}{% url outside_enquiry enquiry.enquete.id %}{% else %}{% url outside_enquiry enquete.id %}{% endif %}" title="{% trans "The research on the research" %}" >
					<div class="icon"><span class="icon-microphone" style=""></span></div>{% trans "The research on the research" %}
				</a>
				
			</div>
			{% comment %}
			<div class="back floating with-icon {% if "focus-on-enquete" in tags %}selected{%endif%}">
				<a href="{% if enquiry %}{% url outside_enquete enquiry.enquete.id %}{% else %}{% url outside_enquete enquete.id %}{% endif %}" title="{% trans "Focus on the research" %}">
					<div class="icon"><img src="{{ STATIC_URL }}img/151-telescope.png"></div>{% trans "Focus on the research" %}
				</a>
			</div>
			{% endcomment %}
			

			
			
			
			
			{% if request.user.is_authenticated %}
			<div class="back floating with-icon" >
				<a href="{% url outside_download_page enquete.id%}" title="{% trans "Download page" %}">
					<div class="icon"><span class="icon-download-alt" style=""></span></div>{% trans "Download" %}
				</a>
			</div>
			{% endif %}
			
			<div class="back floating with-icon {% if "access_request" in tags %}selected{%endif%}">

				<a href="{% if enquiry %}{% url outside_access_request enquiry.enquete.id %}
				{% else %}{% url outside_access_request enquete.id %}{% endif %}"> 
					<div class="icon" style="margin-top:0px"><span class="icon-hand-up" style=""></span></div> {% trans "Ask for access" %}
				</a>
			</div>
			
			
			
			
			<!-- div class="identifier floating">{% trans "enquete n." %} {{ enquete.id }}</div -->
		
			<div class="clear"></div>
		</div>
		{% block page_hook_inner %}
		
		{% endblock %}
	</div>
{% endblock %}