{% extends "hub/middle.html" %}
{% load i18n %}



{% block body %}
	
	
	<div class="wrapper">
		<div class="container_12">
		
			<header>
				<div id="logo"></div>
				<div id="header-inner" class="container_12">

					<ul>
						{% for s in sites_available %}
						<li class="site {% ifequal site s.name %}selected{% endifequal %}" data-title="{{ s.title }}" data-content="{{ s.content }}" data-placement="bottom"><a href="{{ s.url }}">{{ s.label|safe }}</a></li>
				{% endfor %}

						
						{% if user.is_authenticated %}
						<li style="float:right;">
							<a href="{% url outside_logout %}" rel="tooltip" title="{% trans "logout" %} {{ user.username }}" data-tooltip-placement="bottom">{% trans "logout" %}
							</a>
						</li>
						{% else %}
						
						<li style="float:right;">
							<a href="{% url outside_login %}" data-toggle="" data-target="#login-modal">{% trans "connection" %}</a>
						</li>
						
						{% endif %}

						{% comment %}
						<li style="float:right" {% ifequal language "EN" %} class="selected"{% endifequal %}>
							<a href="{{  request.path }}?lang=en">{% trans "english" %}</a>
						</li>
						<li style="float:right" {% ifequal language "FR" %} class="selected"{% endifequal %}>
							<a href="{{  request.path }}?lang=fr">{% trans "french" %}</a>
						</li>
						{% endcomment %}

						{% if has_edit_mode and user.is_authenticated %}
							{% if edit_mode %}
								<li style="float:right" class="selected">
									<a  href="{{  request.path }}?disable-edit-mode">{% trans "disable edit"%}
										<!-- div  style="position:relative; top:0px" title="{% trans "disable edit mode"%}" rel="tooltip" data-tooltip-placement="bottom" class="edit-mode on"></div>
										&nbsp; -->
									</a>
								</li>
							{% else %}
								<li style="float:right">
									<a href="{{  request.path }}?enable-edit-mode" title="{% trans "enable edit mode"%}" rel="tooltip" data-tooltip-placement="top">{% trans "edit"%}
										<!-- div class="edit-mode off" title="{% trans "enable edit mode"%}" rel="tooltip" data-tooltip-placement="bottom"></div -->
									</a>
								</li>
							{% endif %}
						{% endif %}

						{% if has_edit_mode and edit_mode %}
						<li  rel="tooltip" title="{% trans "add page"%}" data-tooltip-placement="bottom">
							<a href="#"  data-toggle="modal" data-target="#add-page-modal">+</a>
						</li>
						{% endif %}

										{% comment %}
						<!-- list of page according to desired language -->
						{% for p in pages %}
						<li {% if p.slug in tags %} class="selected"{% endif %}>
							<a href="{% url outside_page p.slug %}">{{ p.title }}</a>
						</li>
						{% endfor %}
						
						{% endcomment %}
						
						
						{% if user.is_authenticated %}
						
						
						
						<li style="float:right" {% if 'edit_profile' in tags %} class="selected"{% endif %}>
							<a href="{% url outside_edit_profile %}"  title="{% trans "Your profile" %}">{% trans "Your profile "%}</a>
						</li>
					
						{% endif %}
						
						 

					</ul>
				</div>
			</header>

			
			{% block page_header %}
			<div id="introduction">
				<ul id="pages" style="margin-top: 36px;">
					

					{% for p in pages %}
					<li{% if p.slug in tags %} class="selected"{% endif %}>
						<a href="{% url outside_page p.slug %}">{{ p.title }}</a>
					</li>
					{% endfor %}
					
					<li{% if 'news' in tags %} class="selected"{% endif %}>
						<a href="{% url outside_news %}">{% trans "news"%}</a>
					</li>

					<li{% if 'contacts' in tags %} class="selected"{% endif %}>
						<a href="{% url outside_contacts %}">{% trans "contacts"%}</a>
					</li>

				</ul>

			</div>	
			{% endblock %}
		

			<div class="page" data-page-slug="{{ page.slug }}">
				
				{% comment %}
				<sidebar class="navbar">
					<a href="{% url outside_index %}">

					</a>
				
					<h1>{% block page_title %}{% endblock %}</h1>
					
					<!-- logo dime-shs -->
					{% block sidebar %}

					{% endblock %}	

					{% block sidebar_add_section %}
						{% if edit_mode %}
						
					<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add section" %} ]
					</div>

						{% endif %}
					{% endblock %}	

					<div id="collapse-menu" rel="tooltip" title="{% trans "collapse menu"%}"></div>
					<div id="expand-menu" style="display:none" rel="tooltip" title="{% trans "expand menu"%}"></div>
				</sidebar>
				{{ warnings }}
				{{ available_languages }}
				{% endcomment %}

				{% block page %}
					{% block page_hook %}{% endblock %}
					<div id="left-side" class="grid_9 alpha omega">
						{% block page_left %}
							{% if edit_mode %}
								<input name="files[]" id="fileupload" type="file" size="50" />
								<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add pin" %} ]</div>
							{% endif %}

						{% endblock %}
						<div class="clear"></div>
					</div>

					{% block right_sidebar %}	
					<div id="right-sidebar" >
						{% block navbar %}	
						
						{% endblock %}

						{% block page_right %}	
							
							{% if edit_mode %}
								<div class="edit-mode add-pin" data-page-slug="" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add news" %} ]
								</div>
							{% endif %}

							{% for p in news %}
								<div class="pin">
									<a href="{% url outside_news %}#{{ p.slug }}">
									<div class="date-wrapper">
										<div class="date">{{ p.date_last_modified|date:"d M." }}</div>
									</div>
									<h2>{{ p.title }}</h2>
									<!-- div class="date">{{ p.date_last_modified|date:"d M. Y" }}</div -->
									<div class="abstract">{% if p.abstract %}{{ p.abstract }}{% else %}an abstract ici{% endif %}{% for u in p.users.all %}{{ u.username }}{% endfor %}</div>
									</a>
								</div>
							{% endfor %}
							
							<div class="clear"></div>
					{% endblock %}
						
					</div>
					{% endblock %}
					<div class="clear"></div>

					

				{% endblock %}	
				
				<div class="extras"></div>

				
			</div>

			

			<div class="push"></div>
		</div>
	</div>
	<!-- the footer -->
	<footer>
		<div class="container_12">
			
			<div id="footer-inner">
			{% ifequal site "app" %}
				<a href="http://sciences-po.fr" class="footer-link"><img src="{{ STATIC_URL }}img/scpo-blanc.png"/></a>
				<a href="http://www.cnrs.fr/" class="footer-link"><img src="{{ STATIC_URL }}img/cnrs.png" style="margin-top:3px"/></a>

				
				<a href="{% url outside_legal %}" class="footer-link ">mentions légales</a>
				<a href="{% url outside_contacts %}" class="footer-link ">nous contacter</a>
				
				<a href="http://www.ia.fr/" class="footer-link right"><img src="{{ STATIC_URL }}img/ia.png" style="margin-top:3px"/></a>



		
			{% endifequal %}
			</div>
		</div>
		
		
	</footer>

	{% block modals %}
		{{ block.super }}
	{% endblock %}
{% endblock %}



{% block api_urls %}
	
	
	{{ block.super }}
	
	{% if edit_mode %}
		oo.urls.upload_enquiry_pin = "{% url outside_api_enquiry_upload_pin 0 0 %}";
		oo.urls.add_enquiry = "{% url outside_api_enquiries %}";
	
	{% endif %}
	
	oo.urls.add_signup= "{% url outside_api_signups %}";
	oo.urls.get_enquete_data = "{% url outside_enquete_data 0 %}";
	

{% endblock %}


