{% extends "enquete/hook.html" %}
{% load i18n %}
{% load extras %}


	<!-- static url: {{ STATIC_URL }} -->

{% block page_hook_inner %}
		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}

{% block page_left %}
	<div id="subscription">
		<h2>{% trans "fill signup form" %}</h2>

		<div class="subscription-wrapper">
			
			<label for="first_name">{% trans "first name" %}</label>
			{{ signup_form.first_name }}

			<label for="last_name">{% trans "last name" %}</label>
			{{ signup_form.last_name }}
			
			
			
			<label for="password">{% trans "password" %}</label>
			{{ signup_form.password }}
			
		

			<label for="email">{% trans "email" %}
				<div class="specification">le compte sera addesse a votre addresse email</div>
			</label>
			{{ signup_form.email }}
			
			
			<label for="affiliation">{% trans "status" %}
				
			</label>
			<p>{{ signup_form.status }}</p>

			<label for="affiliation">{% trans "affiliation" %}
				<div class="specification">{% trans "university or institution" %}</div>
			</label>
			{{ signup_form.affiliation }}
			
			
			
			<label for="recaptcha">{% trans "Recaptcha" %}
				<div class="specification">{% trans "Recaptcha" %}</div>
			</label>
			{{ signup_form.captcha }}
			
			<label for="accepted_terms">{% trans "accepted terms" %}
				<div class="specification">{% trans "accept terms" %}</div>
			</label>
			
			{{ subscriber_form.accepted_terms }}
			
			
			<input type="button" id="add-signup" value="{% trans "send" %}"/>
		</div>
	
	</div>

	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Merci !"%}</h2>

		{% trans "message sent" %}

		<p>
			<a href="{% url outside_index %}">{% trans "back to home page"%}</a>
		</p>
	</div>
	
{% endblock %}