.d3-vec {
	position:absolute;
}

path {
	fill: #000;
	fill-opacity: .2;
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: pointer;
	
	&:hover {
		fill: brown;
		fill-opacity: .7;
	}
}

circle.dot {
	fill: white;
	stroke: #333;
	stroke-width: 1.5px;
	cursor: pointer;

	&:hover {
		fill: brown;
		fill-opacity: .7;
		cursor: pointer;
	}
}