@path_stroke: #333;
@path_opacity: .6;
@path_opacity_hover: 1;
@cyan: #0299CC;
@line_height: 26px;


#map {
	.d3_layer {
		position:absolute;
	}
	
	.zoomer {
		width: 25px;
		height: 25px;
		&.zoomin {
			background-position: -34px -3px;
			left: 34px;
		}
		&.zoomout {
			background-position: -64px -3px;
		}
	}

	circle {
		stroke: @path_stroke;
		stroke-width: 1.2px;
		fill: @cyan;
		fill-opacity: @path_opacity;

		&[data-status='active'] {
			cursor: pointer;
		}
	}
}

#timeline {
	
	rect.dot {
		stroke: @path_stroke;
		stroke-width: 0px;
		fill-opacity: @path_opacity;
		cursor: pointer;

		@property: all;
		@duration: 0.5s;
		@ease: cubic-bezier(0,0,1,1);
		-webkit-transition: @property @duration @ease;
		-moz-transition: @property @duration @ease;
		-o-transition: @property @duration @ease;
		transition: @property @duration @ease;

		&:hover {
			fill: @cyan;
			fill-opacity: @path_opacity_hover;
			cursor: pointer;
		}
		&.active {
			fill: @cyan;
		}
		&.inactive {
			fill: white;
		}
	}

	rect.background {
		fill: @cyan;
		stroke: @path_stroke;
		stroke-width: 0px;
		fill-opacity: .1;
		cursor: default;
	}

	.brush .extent {
		stroke: #fff;
		fill: black;
		fill-opacity: .2;
		shape-rendering: crispEdges;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: black;
	    shape-rendering: crispEdges;
	}

	.axis text {
	    font-family: sans-serif;
	    font-size: 11px;
	}

	text {
		fill: @cyan;
		font-family: sans-serif;
	    font-size: 32px;

	    @property: all;
		@duration: 0.5s;
		@ease: cubic-bezier(0,0,1,1);
		-webkit-transition: @property @duration @ease;
		-moz-transition: @property @duration @ease;
		-o-transition: @property @duration @ease;
		transition: @property @duration @ease;
	}
}

#types {
	margin-left: -40px;
	li {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		height: @line_height;
		line-height: @line_height;
		text-overflow: ellipsis;
	}
}

#documents {
	margin-left: -40px;

	li {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		height: @line_height;
		line-height: @line_height;
		text-overflow: ellipsis;
	}

}

#doc_list {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	height: @line_height * 10;
}

#doc_next {

}

#doc_prev {

}


@property: all;
@duration: 1s;
@ease: cubic-bezier(0,0,1,1);

.transition {
  -webkit-transition: @property @duration @ease;
  -moz-transition: @property @duration @ease;
  -o-transition: @property @duration @ease;
  transition: @property @duration @ease;
}








