{% extends "hub/middle.html" %}
{% load i18n %}
{% load extras %}


	<!-- static url: {{ STATIC_URL }} -->




{% block page_left %}
	<div id="subscription">
		<h3>{% trans "Change your password" %}</h3>
		<br/>
		{% trans "Please enter the new password you want and confirm it, you will receive a notification mail." %}

		<div class="subscription-wrapper">
			
			
			
			{{change_password_form.username}}
			
			
			
			<label for="id_signup_password1">
					{% trans "password"|capfirst %} *
					
					<div class="specification">
						{% trans "The password must have a good security, use signs and numbers to strenghten the password"|capfirst  %}: <br/><span id="result" style="font-weight:bold"></span>
					</div>
				</label>
				{{ change_password_form.password1 }}
			
			
			
			<label for="id_change_password_password2">{% trans "Password confirmation" %}
				
				<div class="specification">
						{% trans "Please confirm your password"|capfirst  %}: <span id="pass_confirm" style="font-weight:bold"></span>
				</div>	
				
				</label>
			{{change_password_form.password2}}
			
			
	
			
			<input type="button" id="change-password" value="{% trans "send" %}"/>
		</div>
	
	</div>

	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Thanks"%}!</h2>

		{% trans "Your password has been modified." %}

		<p>
			<a href="{% url outside_index %}"><i class="icon-chevron-sign-left"></i> {% trans "back to home page"%}</a><br/>
			<a href="{% url outside_edit_profile %}"><i class="icon-chevron-sign-left"></i> {% trans "back to profile page"%}</a>
		</p>
	</div>
	
{% endblock %}