{% extends "hub/middle.html" %}
{% load i18n %}
{% load extras %}


	<!-- static url: {{ STATIC_URL }} -->




{% block page_left %}
	<div id="subscription">
		{% trans "Please enter the new password you want and confirm it, you will receive a notification mail." %}

		<div class="subscription-wrapper">
			<label for="id_change_password1">{% trans "New password" %}</label>
			{{change_password_form.password1}}
			
			<label for="id_change_password2">{% trans "Confirmation" %}</label>
			{{change_password_form.password2}}
			

			<input type="button" id="change-password" value="{% trans "send" %}"/>
		</div>
	
	</div>
	{{change_password_form.username}}
	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Thanks"%}!</h2>

		{% trans "Your request has been sent, you will receive a mail when you are granted." %}

		<p>
			<a href="{% url outside_index %}">{% trans "back to home page"%}</a>
		</p>
	</div>
	
{% endblock %}