{% extends "hub/middle.html" %}
{% load i18n %}
{% load extras %}


{% block page_left %}
	<div id="subscription">
		<h2>{% trans "Contact" %}</h2>
		<noscript>
			Note: Javascript sould be enabled in your browser in order to fill this contact form
		</noscript>
		<div class="subscription-wrapper">
			

			<p>

			</p>
			<label for="id_subscriber_first_name">{% trans "first name" %}</label>
			{{ subscriber_form.first_name }}

			<label for="id_subscriber_last_name">{% trans "last name" %}</label>
			{{ subscriber_form.last_name }}

			<label for="id_subscriber_email">{% trans "email" %}</label>
			{{ subscriber_form.email }}

			<label for="id_subscriber_status">{% trans "status" %}
				
			</label>
			<p>{{ subscriber_form.status }}</p>

			<label for="id_subscriber_affiliation">{% trans "affiliation" %}
				<div class="specification">{% trans "university or institution" %}</div>
			</label>
			{{ subscriber_form.affiliation }}
			
			<label for="id_subscriber_description">{% trans "message" %}
				
			</label>
			{{ subscriber_form.description }}

			
			<label for="recaptcha_response_field">{% trans "Recaptcha" %}
				<div class="specification">{% trans "Recaptcha" %}</div>
			</label>
			{{ subscriber_form.captcha }}
			

			
			<input type="button" id="add-subscriber" value="{% trans "send" %}"/>
		</div>
	
	</div>

	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Thank you" %}!</h2>

		{% trans "Your message is sent, you will receive a notification mail" %}.

		<p>
			<a href="{% url outside_index %}"><i class="icon-chevron-sign-left"></i> {% trans "back to home page"%}</a>
		</p>
	</div>
{% endblock %}