{% extends "enquete/middle.html" %}
{% load i18n %}
{% load extras %}


	<!-- static url: {{ STATIC_URL }} -->


{% block page_left %}
	<div id="subscription">
		<h2>{% trans "Create profile" %}</h2>
		
		{% trans "You don't have a profile, create one"%}
		
		<div class="subscription-wrapper">
			
			
			<label for="id_create_profile_first_name">{% trans "firstname"|capfirst %}</label>
			{{ create_profile_form.first_name }}
			
			<label for="id_create_profile_last_name">{% trans "lastname"|capfirst %}</label>
			{{ create_profile_form.last_name }}

			
			
						
			
			<label for="id_create_profile_email">{% trans "email"|capfirst %}</label>
			<p>{{ create_profile_form.email }}</p>
			
			<label for="id_create_profile_status">{% trans "status"|capfirst %}</label>
			<p>{{ create_profile_form.status }}</p>
			
			<label for="id_create_profile_description">{% trans "description"|capfirst %}</label>
			<p>{{ create_profile_form.description }}</p>

			<label for="id_create_profile_affiliation">{% trans "affiliation institution"|capfirst %}
				<div class="specification">{% trans "university or institution"|capfirst %}</div>
			</label>
			{{ create_profile_form.affiliation }}
			


			{{ create_profile_form.action }}

		
			

			<input type="button" id="add-subscriber" value="{% trans "Create" %}"/>
		</div>
	
	</div>

	<div id="subscription-accepted" style="display:none">
		

		<h2>{% trans "Your profile is created" %}</h2>

		<p>
			<a href="{% url outside_index %}"><i class="icon-chevron-sign-left"></i> {% trans "back to home page"%}</a>
		</p>
	</div>
	
{% endblock %}