{% extends "enquete/hook.html" %}
{% load i18n %}
{% load extras %}




{% block page_hook_inner %}
	<style>
		#right-sidebar{
			display:none;
			
		}
		
		#left-side{
			width:100%;
			
		}
		
	</style>

		<h3>{{ enquete.name }}</h3>
		<div class="meta">
			<span class="author" >
				{% for authenty in enquete.meta.values.actor.authenty.value %}{{ authenty }}{% if not forloop.last %}, {% endif %}{% endfor %}
			</span> &dash;
			<span class="tags">
				{% for nation in enquete.meta.values.general.nation.value %}{{ nation }}, {% endfor %}
				{% for studydate in enquete.meta.values.universe.studydates.value %}{{ studydate }}{% endfor %}
			</span>
		</div>
	
{% endblock %}

{% block document_ready %}
	{% if enquete %}
		oo.vars.enquete_id = "{{ enquete.id }}";
	{% endif %}
	{{ block.super }}
{% endblock %}

{% block page_left %}


	<div id="subscription">
		<h3>{% trans "Download page" %}</h3>
		
		<br/>
		
{% blocktrans %}

<p>
Hello the research file is huge so you'll need a software which can interrupt the download and continue it later.<br/>

If you are on windows you can use <a href="http://www.clubic.com/telecharger-fiche12841-free-download-manager.html">free download manager</a>. 
<br/>On linux you can use <a href="https://launchpad.net/steadyflow">steadyflow</a>.

<br/><br/>

Here is
<a href="{{dl_link}}" title="">
 the download link
</a>
.


</p>
{% endblocktrans %}
	</div>
	
{% endblock %}