{% extends "hub/boilerplate.html" %}
{% load i18n %}



{% block body %}
	
	
	<div class="wrapper">
		<div class="container_12">
		
			<header>
				<div id="logo"></div>
				<div id="header-inner" class="container_12">

					<ul>
						{% for s in sites_available %}
						<li class="site {% ifequal site s.name %}selected{% endifequal %}" data-title="{{ s.title }}" data-content="{{ s.content }}" data-placement="bottom"><a href="{{ s.url }}">{{ s.label|safe }}</a></li>
				{% endfor %}

						
						{% if user.is_authenticated %}
						<li style="float:right;">
							<a href="{% url outside_logout %}"rel="tooltip" title="{% trans "logout" %} {{ user.username }}" data-tooltip-placement="bottom">{% trans "logout" %}
							</a>
						</li>
						{% else %}
						
						<li style="float:right;">
							<a href="#login" data-toggle="modal" data-target="#login-modal">{% trans "login" %}</a>
						</li>
						<li style="float:right;">
							<a href="cont">{% trans "sign up" %}</a>
						</li>
						{% endif %}

						{% comment %}
						<li style="float:right" {% ifequal language "EN" %} class="selected"{% endifequal %}>
							<a href="{{  request.path }}?lang=en">{% trans "english" %}</a>
						</li>
						<li style="float:right" {% ifequal language "FR" %} class="selected"{% endifequal %}>
							<a href="{{  request.path }}?lang=fr">{% trans "french" %}</a>
						</li>
						
						
						{% endcomment %}

						{% if has_edit_mode and user.is_authenticated %}
							{% if edit_mode %}
								<li style="float:right" class="selected">
									<a  href="{{  request.path }}?disable-edit-mode">{% trans "disable edit"%}
										<!-- div  style="position:relative; top:0px" title="{% trans "disable edit mode"%}" rel="tooltip" data-tooltip-placement="bottom" class="edit-mode on"></div>
										&nbsp; -->
									</a>
								</li>
							{% else %}
								<li style="float:right">
									<a href="{{  request.path }}?enable-edit-mode" title="{% trans "enable edit mode"%}" rel="tooltip" data-tooltip-placement="top">{% trans "edit"%}
										<!-- div class="edit-mode off" title="{% trans "enable edit mode"%}" rel="tooltip" data-tooltip-placement="bottom"></div -->
									</a>
								</li>
							{% endif %}
						{% endif %}

						{% if has_edit_mode and edit_mode %}
						<li  rel="tooltip" title="{% trans "add page"%}" data-tooltip-placement="bottom">
							<a href="#"  data-toggle="modal" data-target="#add-page-modal">+</a>
						</li>
						{% endif %}

										{% comment %}
						<!-- list of page according to desired language -->
						{% for p in pages %}
						<li{% if p.slug in tags %} class="selected"{% endif %}>
							<a href="{% url outside_page p.slug %}">{{ p.title }}</a>
						</li>
						{% endfor %}
						
						{% endcomment %}
						

					</ul>
				</div>
			</header>

			
			{% block page_header %}
			<div id="introduction">
				<ul id="pages">
					{% for p in pages %}
					<li{% if p.slug in tags %} class="selected"{% endif %}>
						<a href="{% url outside_page p.slug %}">{{ p.title }}</a>
					</li>
					{% endfor %}
					
					<li{% if 'news' in tags %} class="selected"{% endif %}>
						<a href="{% url outside_news %}">{% trans "news"%}</a>
					</li>

					<li{% if 'contacts' in tags %} class="selected"{% endif %}>
						<a href="{% url outside_contacts %}">{% trans "contacts"%}</a>
					</li>

				</ul>

			</div>	
			{% endblock %}
		

			<div class="page" data-page-slug="{{ page.slug }}">
				
				<sidebar class="navbar">
					<a href="{% url outside_index %}">

					</a>
				
					<h1>{% block page_title %}{% endblock %}</h1>
					
					<!-- logo dime-shs -->
					{% block sidebar %}

					{% endblock %}	

					{% block sidebar_add_section %}
						{% if edit_mode %}
						
					<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add section" %} ]
					</div>

						{% endif %}
					{% endblock %}	

					<div id="collapse-menu" rel="tooltip" title="{% trans "collapse menu"%}"></div>
					<div id="expand-menu" style="display:none" rel="tooltip" title="{% trans "expand menu"%}"></div>
				</sidebar>
				{{ warnings }}
				{{ available_languages }}
				
				{% block page %}

					<div class="grid_9 alpha omega">
						{% block page_left %}
							{% if edit_mode %}
								<input name="files[]" id="fileupload" type="file" size="50" />
								<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add pin" %} ]</div>
							{% endif %}

						{% endblock %}
						<div class="clear"></div>
					</div>


					<div id="right-sidebar" >
						{% block page_right %}	
							
							{% if edit_mode %}
								<div class="edit-mode add-pin" data-page-slug="" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add news" %}">[ {% trans "add news" %} ]
								</div>
							{% endif %}

							{% for p in news %}
								<div class="pin">
									<a href="{% url outside_news %}#{{ p.slug }}">
									<div class="date-wrapper">
										<div class="date">{{ p.date_last_modified|date:"d M." }}</div>
									</div>
									<h2>{{ p.title }}</h2>
									<!-- div class="date">{{ p.date_last_modified|date:"d M. Y" }}</div -->
									<div class="abstract">{% if p.abstract %}{{ p.abstract }}{% else %}an abstract ici{% endif %}{% for u in p.users.all %}{{ u.username }}{% endfor %}</div>
									</a>
								</div>
							{% endfor %}
							
							<div class="clear"></div>
					{% endblock %}
						
					</div>

					<div class="clear"></div>

					

				{% endblock %}	
				
				<div class="extras"></div>

				
			</div>

			

			<div class="push"></div>
		</div>
	</div>
	<!-- the footer -->
	<footer>
		{% block footer %}
		<div class="container_12">
			<div id="footer-inner">
				
				<ul>
					{% comment %}<li style="float:right" {% ifequal language "EN" %} class="selected"{% endifequal %}>
						<a href="{{  request.path }}?lang=en">{% trans "english" %}</a>
					</li>
					<li style="float:right" {% ifequal language "FR" %} class="selected"{% endifequal %}>
						<a href="{{  request.path }}?lang=fr">{% trans "french" %}</a>
					</li>
					{% endcomment %}

					
		
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		

		{% endblock %}	
		
	</footer>

	<!-- the login modal -->

	<div class="modal fade hide" id="login-modal" style="display:none">
		<form action="{% url outside_login %}" method="POST">{% csrf_token %}
			<div class="modal-header">
				<h3>{% trans "login" %}</h3>
			</div>
			<div class="modal-body">
				<input type="hidden" value="{{  request.get_full_path }}" name="next"/>
				{{ request.get_full_path }}
				{{ login_form.as_p }}
			</div>
			<div class="modal-footer">
				<input type="button" class="bad" value="{% trans "discard" %}" data-dismiss="modal"/>
				<input type="submit" value="{% trans "login"%}"/>
			</div>
		</form>
	</div>

	
	{% if edit_mode %}

	<!-- add page! -->
	<div class="modal fade hide" id="add-page-modal" style="display:none">
		<form method="POST">{% csrf_token %}

		<div class="modal-header">
		<!-- button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button -->
		<h3>{% trans "add page" %}</h3>
		</div>
		<div class="modal-body">
			<input type="hidden" value="{{  request.get_full_path }}" name="next"/>

			
			{{ add_page_form.as_p }}
		</div>
		<div class="modal-footer">
		<input type="button" data-dismiss="modal" class="bad" value="{% trans "cancel" %}" />
		<input type="submit" href="#" id="add-page" value="{% trans "add page" %}"/>
		</div>
	</div>

	<!-- the add section/pin modal -->
	<div class="modal fade hide" id="add-pin-modal" style="display:none">
		<form action="" method="POST">{% csrf_token %}

		<div class="modal-header">
			<h3>{% if page %} {% trans "add section into" %} &rarr; {{ page.title }} {% else %} {% trans "add section"%} {% endif %} <span id="parent-pin-slug" data-parent-pin="0"></span></h3>
		</div>
		<div class="modal-body">
			{% trans "add section rules" %}
			<input type="hidden" value="{{  request.get_full_path }}" name="next"/>
			{{ add_pin_form.as_p }}
		</div>
		<div class="modal-footer">
		<input type="button" data-dismiss="modal" class="bad" value="{% trans "cancel" %}" />
		<input type="submit" href="#" id="add-pin" value="{% trans "add section" %}"/>
		
		</div>
	</form>
	</div>

	<!-- the edit section modal -->
	<div class="modal fade hide" id="edit-pin-modal" style="display:none; width:640px; height:540px; overflow:hidden;margin-left: -320px">
		<form action="" method="POST">{% csrf_token %}

		<div class="modal-header">
			<h3>{% trans "edit section" %}</h3>
		</div>
		<div class="modal-body" style="max-height:400px; overflow:hidden">
			{{ edit_pin_form.title }}
			<p>
				{{ edit_pin_form.abstract.label_tag }}
				<textarea id="id_edit_pin_abstract" rows="15" style="height:36px" cols="40" name="abstract"></textarea>
			</p>

			<input type="hidden" value="{{  request.get_full_path }}" name="next"/>
			<div id="wysihtml5-toolbar" style="display: none;">
			<a data-wysihtml5-command="bold">bold</a>
			<a data-wysihtml5-command="italic">italic</a>

			<!-- Some wysihtml5 commands require extra parameters -->
			<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
			<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
			<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>

			<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
			<a data-wysihtml5-command="createLink">insert link</a>
			<div data-wysihtml5-dialog="createLink" style="display: none;">
			<label>
			Link:
			<input data-wysihtml5-dialog-field="href" value="http://" class="text">
			</label>
			<a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
			</div>
			</div>

			<textarea id="id_edit_pin_content" style="height:306px" cols="40" name="content"></textarea>
		</div>
		<div class="modal-footer">
		<input type="button" data-dismiss="modal" class="bad" value="{% trans "cancel" %}" />
		<input type="submit" href="#" id="edit-pin" data-pin-id="0" value="{% trans "edit section" %}"/>
		
		</div>
	</form>
	</div>

	<!-- the edit section modal -->


	{% endif %}
{% endblock %}

{% block api_urls %}
	
	oo.urls = {
		"add_page":"{% url glue_api_pages %}",
		"add_pin":"{% url glue_api_pins %}",
		"edit_pin":"{% url glue_api_pin 0 %}",
		"get_pin":"{% url glue_api_pin 0 %}",
		"publish_pin":"{% url glue_api_publish_pin 0 %}",
		"pin_upload":"{% url glue_api_pin_upload %}",

		"add_subscriber":"{% url outside_api_subscribers %}"
	};

{% endblock %}


