{% extends "enquete/middle.html" %}
{% load i18n %}
{% load extras %}


{	<!-- static url: {{ STATIC_URL }} -->}

{% block page_left %}
	

	
	<div id="subscription">
		<h2>{% trans "Registration" %}</h2>
		
		<p>{% trans "The registration will able you to ask the bequali team for researches access. Please fill up the form and send it, you will receive a mail with a link to confirm your subscription." %}</p>
		
		<div class="subscription-wrapper">
			
			<form id="signup">
			
				<label for="id_signup_first_name">{% trans "first name"|capfirst %} *</label>
				{{ signup_form.first_name }}
	
				<label for="id_signup_last_name">{% trans "last name"|capfirst %} *</label>
				{{ signup_form.last_name }}
				
				<label for="id_signup_username">{% trans "username"|capfirst %} *
					
					
					<div class="specification">
						{% trans "You will login to the site with this username"|capfirst  %}
					</div>	
					
				</label>
				{{ signup_form.username }}
				
				
				<label for="id_signup_last_name">{% trans "email"|capfirst %} *</label>
				{{ signup_form.email }}
				
				<label for="id_signup_password1">
					{% trans "password"|capfirst %} *
					
					<div class="specification">
						{% trans "The password must have a good security, use signs and numbers to strenghten the password"|capfirst  %} : <br/><span id="result" style="font-weight:bold"></span>
					</div>
				</label>
				{{ signup_form.password1 }}
				
				
				
				<label for="id_signup_password2">
					
					{% trans "password confirmation"|capfirst %} *
					<div class="specification">
						{% trans "Please confirm your password"|capfirst  %} : <br/><span id="pass_confirm" style="font-weight:bold"></span>
					</div>
			
					
				</label>
				{{ signup_form.password2 }}
				
				
				<label for="id_signup_affiliation">{% trans "status"|capfirst %} *
					<div class="specification">{% trans "please choose a status"|capfirst %}</div>
				</label>
				<p>{{ signup_form.status }}</p>
	
				<label for="id_signup_affiliation">{% trans "affiliation institution"|capfirst %} *
					<div class="specification">{% trans "university or institution"|capfirst %}</div>
				</label>
				{{ signup_form.affiliation }}
				
				<label for="id_signup_description">{% trans "describe yourself"|capfirst %} *</label>
				{{ signup_form.description }}
				
				
		
				<label for="recaptcha_response_field">{% trans "captcha"|capfirst %} *
					<div class="specification">{% trans "Please fill the image below"|capfirst %} 
						<a href="#" class="js-captcha-refresh">{% trans "Refresh captcha image" %}</a>
					</div>
				</label>
				
				{{ signup_form.captcha }}
		
				
				
				<div class="ajax-fc-container"></div>
			
				<label for="id_signup_accepted_terms">{% trans "legal notices"|capfirst %} *
					<div class="specification">
						{% trans "legal notice description"|capfirst  %}
					</div>
	
					<div class="specification"><b>{% trans "I have read and accepted" %}</b> {{ signup_form.accepted_terms }}</div>
				</label>
				
	
				<input type="button" id="add-signup" value="{% trans "register" %}" />
		</form>
		</div>
	
	</div>

	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Thank you"%} !</h2>

		{% trans "A confirmation mail will be sent to your mailbox in order to finalize your subscription" %}

		<p>
			<a href="{% url outside_index %}"><i class="icon-chevron-sign-left"></i> {% trans "back to home page"%}</a>
		</p>
	</div>
	
{% endblock %}