{% extends "outside/middle.html" %}
{% load i18n %}

{% block sidebar %}
	<ul class="nav">
		{% for pin in pins %}
		<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
		{% endfor %}
	</ul>
	
{% endblock %}

{% block sidebar_add_section %}

{% endblock %}

{% block page_title %}
	{{ enquiry.title }}
{% endblock %}

{% block page %}

	<a id="description"></a>
	
	<section class="alpha">
		
		<div>
			{% trans "an enquiry about"%} <a href="{% url outside_enquete enquiry.enquete.id %}">{{ enquiry.enquete.name }}</a>
		</div>
		<h2>{{ enquiry.title }}</h2>
		{% if edit_mode %}
				<div class="edit-mode add-enquiry-pin"  href="#add-section-modal" data-enquete-id="{{ enquiry.enquete.id }}" role="button" title="{% trans "edit mode" %}: {% trans "add enquiry content" %}"> [ {% trans "add enquiry content" %} ] </div>
			{% endif %}
		<div class="abstract">{{ enquiry.abstract }}</div>
		<div class="dates" ></div>

		<div class="pin-box">
			{% for p in enquiry.pins.all %}
				<div class="pin">
					<p class="title">{{ p.title }}</p>

					{% if p.abstract %}
					<p class="abstract">{{ p.abstract }}</p>{% endif %}

					{% if p.content %}
					<p class="content">{{ p.content|safe }}</p>{% endif %}

					<p class="dates">
					added {{ p.date_last_modified }}
					</p>
					{% if p.href %}
					<p class="href"><a href="{{ p.href }}">{{ p.href }}</a></p>
					{% endif %}
				</div>
			{% endfor %}
		</div>


	</section>


{% endblock %}	