{% extends "outside/middle.html" %}
{% load i18n %}

{% block sidebar %}
	
	
{% endblock %}

{% block page_title %}
	
{% endblock %}

{% block page %}

{% url outside_signup_generic as signup_url %}
	<section class="alpha">
		<form action="{% url outside_login %}" method="POST">{% csrf_token %}
			<h2>{% trans "login required" %}</h2>
			
			{%if error%}
			<p class="invalid">{{ error }}</p>
			
			
			{%endif%}
			
			 {% blocktrans %}
			<p>Veuillez remplir ce formulaire pour vous connecter, <a href="{{signup_url}}">cliquez ici</a> si vous n'êtes pas inscrit</p>
			 {% endblocktrans %}
			
			
			{% comment %}{{ next }}{% endcomment %}
			<div class="mini-section">
				{{ login_form.username.label_tag }}
				{{ login_form.username }}
			</div>
			<div class="mini-section">
				{{ login_form.password.label_tag }}
				{{ login_form.password }}
			</div>
			<div class="mini-section center">
				<input type="hidden" value="{{ next }}" name="next"/>
				<input type="submit" value="{% trans "login"%}"/>
				<input type="button" value="{% trans "inscription"%}" onclick="window.location='{{signup_url}}'"/>
			</div>
			
			<div align="center"><a href="{% url outside_change_password %}">{% trans 'Password forgotten?'%}</a></div>
			
		</form>
	</section>
	
{% endblock %}	