{% extends "outside/middle.html" %}
{% load i18n %}
{% block page_header %}
<div id="introduction">
	<h3>{{ page.title }}</h3>
	<div id="schema"></div>
</div>
{% endblock %}
{% block sidebar %}
	<ul class="nav">
		{% for pin in pins %}
		<li><a href="#{{ pin.slug }}">{{ pin.title }}</a></li>
		{% endfor %}
	</ul>
	
{% endblock %}

{% block page_title %}
	{{ page.title }}
{% endblock %}

{% block page %}
	
		{% if edit_mode %}
					
				<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add pin" %} ]</div>

					{% endif %}

	{% for p in pins %}
	<div class="section">
		<div class="marker-wrapper">
			<div class="marker" >
				{{ p.date_last_modified|date:"d M." }}
			</div>
		</div>
		<a id="{{ p.slug }}"></a>
		<h2>{{ p.title }}</h2>
		<div class="author"><a href="">{% for u in p.users.all %}{{ u.username }}{% endfor %}</a></div>

		{% if edit_mode %}
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit content" %} id:{{ p.id }} ]</div>
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit slug" %} #{{ p.slug }} ]</div>
			<div class="edit-mode delete-pin" href="#" data-pin-id="{{ p.id }}" role="button">[ {% trans "delete slug" %} #{{ p.slug }} ]</div>

			{% ifequal p.status 'D' %}
				<div class="edit-mode publish-pin" href="#" new-status="P" data-pin-id="{{ p.id }}" role="button">[ {% trans "publish" %} ]</div>
			{% else %}
				<div class="edit-mode publish-pin" href="#" new-status="D" data-pin-id="{{ p.id }}" role="button">[ {% trans "draftify" %} ]</div>
			{% endifequal %}

		{% endif %}

		<div class="abstract">
			{{ p.abstract|safe }}
		</div>

		<div class="content">
			{{ p.content|safe }}
			
		</div>
		<div class="clear"></div>
		
	</div>
	{% endfor %}
{% endblock %}	
