{% load i18n %}


{%if action == 'ask_request'%}

	{% blocktrans %}
	
	Bonjour, vous avez une nouvelle demande d'accès.<br/><br/>
	
	Informations de la demande :<br/>
	
	Prenom:{{prenom}}<br/>
	nom:{{nom}}<br/>
	email:{{email}}<br/>
	affiliation:{{affiliation}}<br/>
	site:{{site}}<br/>
	description:{{description}}<br/>
	enquete:{{enquete}}<br/>
	<br/><br/>
	
	Vous pouvez cliquer <a href="{{url}}">ici</a> pour accéder à la page admin<br/>
					
	Aurevoir<br/>
	<img src="http://bequali.fr/bequali/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}


{%if action == 'access_granted'%}

	{% blocktrans %}
	
	Bonjour, <br/><br/>
	Votre demande d'accès pour l'enquête "{{enquete}}" a été acceptée. Vous pouvez consulter l'enquête <a href="{{url}}">ici</a><br/><br/>
	
	Aurevoir
	<img src="http://bequali.fr/bequali/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}
