{% load i18n %}


{%if action == 'ask_request'%}

	{% blocktrans %}
	
	Bonjour, vous avez une nouvelle demande d'accès.<br/><br/>
	
	Informations de la demande :<br/>
	
	Prenom:{{prenom}}<br/>
	nom:{{nom}}<br/>
	email:{{email}}<br/>
	affiliation:{{affiliation}}<br/>
	site:{{site}}<br/>
	description:{{description}}<br/>
	enquete:{{enquete}}<br/>
	<br/><br/>
	
	Vous pouvez cliquer <a href="{{url}}">ici</a> pour accéder à la page admin<br/>
					
	A bientôt!<br/>
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}


{%if action == 'ask_notification'%}

	{% blocktrans %}
	
	Bonjour {{prenom }} {{nom}},<br/><br/>
	
	Vous avez demandé l'accès pour l'enquête {{enquete}}, nous allons étudier votre demande et vous recevrez un mail dès que l'accès vous aura été donné.
	
	A bientôt!<br/>
	L'équipe beQuali<br/>
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}


{%if action == 'access_granted'%}

	{% blocktrans %}
	
	Bonjour {{prenom }} {{nom}}, <br/><br/>
	Votre demande d'accès pour l'enquête "{{enquete}}" a été acceptée. Vous pouvez consulter l'enquête <a href="{{url}}">ici</a><br/><br/>
	
	Bonne exploration!<br/>
	L'équipe beQuali<br/>
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}
