{% load i18n %}
{%if action == 'client_notification' %}
	{% blocktrans %}
	Bonjour votre message a bien été envoyé, nous vous répondrons dès que possible. <br/><br/>
	Contenu du message : {{description}} <br/><br/>
	
	A bientôt!<br/>
	L'équipe beQuali<br/>
	
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}


{%endif%}
{%if action == 'admin_notification' %}
	{% blocktrans %}
	Bonjour, vous avez un nouveau message<br/><br/>
	
	Informations :<br/>
	
	prénom:{{prenom}}<br/>
	nom:{{nom}}<br/>
	email:{{email}}<br/>
	affiliation:{{affiliation}}<br/>
	site:{{site}}<br/>
	message:{{description}}<br/>
	<br/><br/>
		
	A bientôt<br/>
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}