{% load i18n %}

	
	{%if action == 'reinitialize_confirm'%}
	
		Bonjour {{prenom }} {{nom}},  <br/><br/>
		
		Nous avons reçu une demande de réinitialisation de votre mot de passe pour votre identitiant <b>{{username}}</b>.<br/><br/> 
		
		Si vous êtes bien à l'origine de la demande, veuillez confirmer votre demande de réinitialisation en cliquant sur ce <a href="{{confirmation_href}}">lien</a>, 
		vous recevrez alors un email contenant votre nouveau mot de passe.
	
		A bientôt!<br/>
		L'équipe beQuali<br/>
		
		<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{%endif%}
	
	
	
	{%if action == 'reinitialize_notification'%}
	
		Bonjour {{prenom }} {{nom}},<br/><br/>
		
		Votre mot de passe a bien été réinitialisé, vous pouvez dès maintenant vous connecter <a href="{{login_url}}">ici</a> avec ces informations : <br/>
		Identifiant : {{username}}<br/>
		Mot de passe : {{password}}<br/><br/>
		
		Vous pouvez changer votre mot de passe à cette <a href="{{change_password_url}}">adresse</a> : 
		
		
		A bientôt!<br/>
		L'équipe beQuali<br/>
		
		<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{%endif%}

