{% load i18n %}


{%if action == 'email_confirm'%}

	{% blocktrans %}
	
	Bonjour {{prenom}} {{nom}},<br/><br/>
	
	Nous avons bien reçu votre de mande d'inscription sur le site beQuali. 
	Afin de finaliser la procédure veuillez	cliquer sur ce  <a href="{{confirmation_href}}">lien</a>.<br/>
	
	Vous pourrez ensuite vous connecter avec cet identifiant : {{username}} et ce mot de passe : {{password}} (masqué pour raison de sécurité). <br/><br/>
	
	A bientôt!<br/>
	L'équipe beQuali<br/>
	
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
	
	{% endblocktrans %}

{%endif%}


{%if action == 'admin_notification'%}

	{% blocktrans %}
	
	Bonjour, vous avez une nouvelle demande d'accès : <br/><br/>
	Informations sur l'utilisateur :<br/>
	
	prénom: {{prenom}}<br/>
	nom: {{nom}}<br/>
	email: {{email}}<br/>
	affiliation: {{affiliation}}<br/>
	status: {{status}}<br/>
	description:{{description}}<br/>
	
	Vous pouvez cliquer <a href="{{admin_url}}">ici</a> pour accéder à la page admin<br/>
	
	A bientôt!<br/>
	
	<img src="{{REANALYSEURL}}/static/img/bequali-logo.png"/>
					 
	{% endblocktrans %}
	
{%endif%}