{% extends "base.html" %}

{% block head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/utilScripts.js"></script>
	
{% endblock %}

{% block leftmenu %}
{% endblock %}

{% block content %}
<! ================================================= -->
	<div class="introHtml">
		<h1>Access & Users</h1>
		As described (for the public) in the <a href="/reanalyse/?p=access">access</a> page, here is how it works on the admin side:
		<ol>
			<li>Public users (without login) can only access Overview pages for every study</li>
			<li>When they ask for the Discover status [online form], an unactivated user is created, and a mail is sent to the staff team</li>
			<li>Staff can then activate the user in the <a href="/reanalyse/admin">admin</a> panel (and send a mail to congratulate the guy).</li>
			<li>If she/he asks (on a study page) for an Explore status [online form], another mail is sent to the staff, including the 'motivation' field</li>
			<li>Staff can then add the permission for this enquete ('EXPLORE e_[id]') to this user on the <a href="/reanalyse/admin">admin</a> panel (and reply regardly to the guy).</li>
		</ol>
		<p>Current staff email adress is: <i>{{staffemail}}</i></p>
		
		<h1>Add a new study</h1>
		<div>
			<h3>You can choose to either upload:</h3>
			<ul>
				<li>(v1, deprecated) all the files in the same time, with the mandatory ddi.xml file</li>
				<li>(v2, deprecated) a ddi.zip archive file, with the mandatory ddi.xml file at the first level</li>
				<li>(v3) a archive.zip file, with the mandatory ./_meta/meta_*.csv files describing metadatas</li>
			</ul>
		</div>
		<div>
			<h3>Note that</h3>
			<ul>
				<li>make sure <a href="http://jiminy-dev.medialab.sciences-po.fr:8983/solr/admin/">solr</a> in online if you need documents to be indexed (status: {{solrstatus}})</li>
				<li>you can also <a href="{% url reanalyse.reanalyseapp.views.eSolrIndexClear %}">clear_index</a> if you know what that means</li>
				<li>for verbatims, the required format is TEI XML made using Exmaralda & TEI Drop</li>
				<li>if you don't understand a thing, please read the <a href="/reanalyse/?p=method&q=3">normalization</a> page carefully</li>
			</ul>
		</div>
		<p>
		<div id="eBrowseNewEnquete">
			<div id="file-uploader">
			<noscript>
				<p>Please enable JavaScript to use file uploader.</p>
				<!-- or put a simple form for upload here -->
			</noscript>
			</div>
		</div>
		</p>
		
		<h1>Logs</h1>
		<ul class="logconsole">
			{% for l in logs %}<li>{{l}}</li>{% endfor %}
		</ul>
	</div>
	
	
<! ================================================= -->

<!--
	<form id="addEnqueteForm" enctype="multipart/form-data" method="post" action="{% url reanalyse.reanalyseapp.views.eAddAjax %}">
		{% comment %}{% csrf_token %}{% endcomment %}
		<input type="file" name="thefiles" id="fs" multiple="">
		<input type="submit" name="_upload" value="Upload/Load" />
	</form>
-->
<! ================================================= -->
{% endblock %}

{% block bottom %}
<script src="{{ MEDIA_URL }}/fileuploader/fileuploader.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}/fileuploader/fileuploader.css"/>
<script type="text/javascript">
	///////////////////////////////////////////////////////////////////////////////////
	function createUploader(){            
        var uploader = new qq.FileUploader({
            element: $('#file-uploader')[0],
            action: "{% url reanalyse.reanalyseapp.views.eAddAjax %}",
            debug: true,
            multiple: true,
			params: {
				'csrf_token': '{{csrf_token}}',
				'csrf_name': 'csrfmiddlewaretoken',
				'csrf_xname': 'X-CSRFToken',
				'foldname': '{{foldname}}',
			},
			onSubmit: function(id, fileName){
				// when clicked
			},
			onComplete: function( id, fileName, responseJSON ) {
				// on each file complete
			},
			onAllComplete: function( uploads ) {
				$("#uploadActions").show();
				// buttons are already made in template in "fileuploader/fileuploader.js"
				$("#buttCancel").click( function(event) {
					// create Enquete from uploaded files					
					doGetAtUrl("{% url reanalyse.reanalyseapp.views.eReset %}?foldname={{foldname}}");
					$("#uploadActions").remove();
					createUploader();
					//event.stopPropagation();
					//event.preventDefault();
					return false;
				});
				$("#buttOk").click( function(event) {
					// create Enquete from uploaded files					
					doGetAtUrl("{% url reanalyse.reanalyseapp.views.eParse %}?foldname={{foldname}}");
					//event.stopPropagation();
					//event.preventDefault();
					//window.location.href="{% url reanalyse.reanalyseapp.views.eBrowse %}";
					//window.location.reload();
					$("#eBrowseNewEnquete").html('Enquete was added. Go <a href="{% url reanalyse.reanalyseapp.views.eBrowse %}">look</a> at it');
					return false;
					
				});
			}
        });           
    }
	///////////////////////////////////////////////////////////////////////////////////
	$(function () {
		createUploader(); 
  	});
 
</script>

{% endblock %}