{% extends "base.html" %}

{% block head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/utilScripts.js"></script>
	
{% endblock %}

{% block leftmenu %}
{% endblock %}

{% block content %}
<! ================================================= -->
	<div class="introHtml">
		<h1>Admin</h1>
		To see active users and update permissions, please go to the <a href="/reanalyse/admin">admin</a> page
		<h1>Add a new study</h1>
		<div>
			<h3>You can choose to either upload:</h3>
			<ul>
				<li>(v1, deprecated soon) all the files in the same time, with the mandatory ddi.xml file</li>
				<li>(v2, deprecated soon) a ddi.zip archive file, with the mandatory ddi.xml file at the first level</li>
				<li>(v3) a ddi.zip archive file, with the mandatory ./_meta/meta_*.csv files describing metadatas</li>
			</ul>
		</div>
		<div>
			<h3>Note that</h3>
			<ul>
				<li>make sure <a href="http://jiminy-dev.medialab.sciences-po.fr:8983/solr/admin/">solr</a> in online if you need documents to be indexed (status: {{solrstatus}})</li>
				<li>you can also <a href="{% url reanalyse.reanalyseapp.views.eSolrIndexClear %}">clear_index</a> if you know what that means</li>
				<li>for verbatims, the required format is TEI XML made using Exmaralda & TEI Drop</li>
				<li>if you don't understand a thing, please read the <a href="/reanalyse/?p=method&q=3">normalization</a> page carefully</li>
			</ul>
		</div>
		<h1>If you feel ready, go on</h1>
		<div id="eBrowseNewEnquete">
			<div id="file-uploader">
			<noscript>
				<p>Please enable JavaScript to use file uploader.</p>
				<!-- or put a simple form for upload here -->
			</noscript>
			</div>
		</div>
	</div>
<! ================================================= -->

<!--
	<form id="addEnqueteForm" enctype="multipart/form-data" method="post" action="{% url reanalyse.reanalyseapp.views.eAddAjax %}">
		{% comment %}{% csrf_token %}{% endcomment %}
		<input type="file" name="thefiles" id="fs" multiple="">
		<input type="submit" name="_upload" value="Upload/Load" />
	</form>
-->
<! ================================================= -->
{% endblock %}

{% block bottom %}
<script src="{{ MEDIA_URL }}/fileuploader/fileuploader.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}/fileuploader/fileuploader.css"/>
<script type="text/javascript">
	///////////////////////////////////////////////////////////////////////////////////
	function createUploader(){            
        var uploader = new qq.FileUploader({
            element: $('#file-uploader')[0],
            action: "{% url reanalyse.reanalyseapp.views.eAddAjax %}",
            debug: true,
            multiple: true,
			params: {
				'csrf_token': '{{ csrf_token }}',
				'csrf_name': 'csrfmiddlewaretoken',
				'csrf_xname': 'X-CSRFToken',
				'foldname': '{{foldname}}',
			},
			onSubmit: function(id, fileName){
				// when clicked
			},
			onComplete: function( id, fileName, responseJSON ) {
				// on each file complete
			},
			onAllComplete: function( uploads ) {
				$("#uploadActions").show();
				// buttons are already made in template in "fileuploader/fileuploader.js"
				$("#buttCancel").click( function(event) {
					// create Enquete from uploaded files					
					doGetAtUrl("{% url reanalyse.reanalyseapp.views.eReset %}?foldname={{foldname}}");
					$("#uploadActions").remove();
					createUploader();
					//event.stopPropagation();
					//event.preventDefault();
					return false;
				});
				$("#buttOk").click( function(event) {
					// create Enquete from uploaded files					
					doGetAtUrl("{% url reanalyse.reanalyseapp.views.eParse %}?foldname={{foldname}}");
					//event.stopPropagation();
					//event.preventDefault();
					//window.location.href="{% url reanalyse.reanalyseapp.views.eBrowse %}";
					//window.location.reload();
					$("#eBrowseNewEnquete").html('Enquete was added. Go <a href="{% url reanalyse.reanalyseapp.views.eBrowse %}">look</a> at it');
					return false;
					
				});
			}
        });           
    }
	///////////////////////////////////////////////////////////////////////////////////
	$(function () {
		createUploader(); 
  	});
 
</script>

{% endblock %}