{% extends "bq_e_base.html" %}

{% load i18n %}

{% block enqueteheadmore %}
	
	<!-- datatables jquery plugin -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/datatables/css/demo_table.css" />
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.dataTables.js"></script>

	<!-- jquery ui (slider for viz, and dropdownmenu) -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
	
	<!-- scrolling div by hand (jquery plugin) -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/dragscrollable.js"></script>

	<!-- Dropdownmenu checklist jquery plugin -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/dropdownchecklist/js/ui.dropdownchecklist-1.4-min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/dropdownchecklist/css/ui.dropdownchecklist.reanalyse.css" />
	
	<!-- d3 vizus (little frises + viz) -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Cloud_SolrSpeakerTagCloud.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_TexteStreamTimeline.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Attributes.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Overview.js"></script>
	
	
	<!-- =============================== CSS FOR SPEAKERS COLORS (svg fill) -->
	<style type="text/css">
		{% for k,v in speakersColors.items %}.speakerColor_{{k}} {fill:{{v}};}
		{% endfor %}
	</style>
	<!-- ======================================================= -->
	
	<!-- =============================== SELECTION for VISUALIZATIONS -->
	<script type="text/javascript">
		// saving array of selected, to produce visualizations
		var selectedSpeakerIds = new Array();
		var selectedTexteIds = new Array();
		var selectedAttributeTypesIds = new Array();
	</script>
	<!-- ======================================================= -->
	
{% endblock %}


{% block enqueteleftmenumore %}
{% endblock %}


{% block content %}

{% if tTable.values %}
<!-- ====================================================================== DOCUMENT LIST AS DATATABLE -->
<table cellpadding="0" cellspacing="0" border="0" class="display grid_13" id="docTable">
	<thead>
		<tr>
			{% for c in tTable.columns %}
			<th>{{c}}</th>
			{% endfor%}
		</tr>
	</thead>
	<tbody>
		{% for row in tTable.values %}
		<!-- NB: we add "tei" class to the column Type to change color of those using css -->
		<tr class="gradeA doctype_{{row.texte.doctype}}" id="texte_{{row.texte.id}}">
			{% for v in row.vals %}				
				
				<!-- ====================== LAST COLUMN (d3 displayed content): we just put a div with texte.id, updated then using js -->
				{% if forloop.last %}
					<td class="content_littlefrise">
						{% autoescape off %}{{v}}{% endautoescape %}
					</td>
				{% else %}
					<td>{% autoescape off %}{{v}}{% endautoescape %}</td>
				{% endif %}
				
			{% endfor%}
		</tr>
		{% endfor%}
	</tbody>
<!--
	<tfoot>
		<tr>
			{% for c in tTable.columns %}
			<th>{{c}}</th>
			{% endfor%}
		</tr>
	</tfoot>
-->
</table>
<!-- ==================================================================== SELECTION -->
{% if perms.reanalyseapp.can_make %}
	{% include "bq_e_selectviz.html" with source='Documents' %}
{% endif %}
<!-- ====================================================================== -->
{% else %}
	{% comment %}Translators: Documents browse when null{% endcomment %}
	{% trans 'There is no linked documents in this study' %}
{% endif %}





{% comment %}
<!-- ======================================================= -->
<!-- DEPRECATED : DOCUMENT LIST -->
	<!-- OR we render it directly -->
	<!-- {% render_table tTable %} -->
	<!-- OR we do it by hand to customize -->
	<!--
	<table>
	    <thead>
	        <tr>
	        {% for column in table.columns %}
	            <th><a href="{% set_url_param sort=column.name_toggled %}">{{ column }}</a></th>
	        {% endfor %}
	        </tr>
	    </thead>
	    <tbody>
	        {% for row in table.rows %}
	        <tr>
	            {% for cell in row %}
	            <td>{{ cell }}</td>
	            {% endfor %}
	        </tr>
	        {% empty %}
	            {% if table.empty_text %}
	            <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
	            {% endif %}
	        {% endfor %}
	    </tbody>
	</table>
	-->
<!-- ======================================================= -->
<!-- PROCESSINGJS TRYOUT DEPRECATED -->
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}/js/processing.js"></script> -->
<!--
<div class="processing_eCadre" id="graphProcessing">
	<canvas id='processingSketchCanvas' data-processing-sources="{{ MEDIA_URL }}/pjs/eshowdocuments.pjs"></canvas>
</div>
-->
<!-- Get json to feed processingjs canvas -->
<!--
<script type="text/javascript">
	jQuery(document).ready(function(){
		updateProcessingByAjax( {{enquete.id}} );
	});
</script>
-->
<!-- ======================================================= -->
{% endcomment %}

{% endblock %}




{% block enquetebottommore %}

<!-- ======================================================= -->

<!-- to build little d3 viz -->
<!--<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_TexteContentLittleFrise.js"></script>-->

<script type="text/javascript">
	
	//////////////////////////////////////////////////////////////////////
	function selectAllDocs() {
		var aTrs = dTable.fnGetNodes();
		for (var i=0 ; i<aTrs.length ; i++) selectDoc(aTrs[i]);
	};
	function deselectAllDocs(kColumn,theVal) {
		var aTrs = dTable.fnGetNodes();
		for (var i=0 ; i<aTrs.length ; i++) deselectDoc(aTrs[i]);
	};
	//////////////////////////////////////////////////////////////////////
	function selectDoc(elem) {
		theTr=$(elem);
		if ( !theTr.hasClass('row_selected') ) {
			// elem.id = "texte_2738"
			var tid = elem.id.split("_")[1];
			// both left tr and right tr
			$('.'+elem.id).addClass('row_selected');
			theTr.addClass('row_selected');
			// update column 'selected' TAKES LONG !!!!
			//var rowPos = sTable.fnGetPosition(elem);
			//sTable.fnUpdate( 'yes', rowPos, 0);
			// update selected names list (new <li>)
			var sNameLink = $(theTr.children()[1]).html()
			var newElem = $("<li>").attr({'id':'selected_'+tid}).append(sNameLink);
			$('#documentsSelectedList').append(newElem);
			// update array with selected ids
			selectedTexteIds.push(tid);
			// update total count
			$('#documentsSelectedCountDiv').html(selectedTexteIds.length);
			//console.log("selectedTexteIds:"+selectedTexteIds);
		}
	}
	function deselectDoc(elem) {
		theTr=$(elem);
		if ( theTr.hasClass('row_selected') ) {
			var tid = elem.id.split("_")[1];
			theTr.removeClass('row_selected');
			// update column 'selected' TAKES LONG !!!!
			//var rowPos = sTable.fnGetPosition(elem);
			//sTable.fnUpdate( 'no', rowPos, 0);
			$('#documentsSelectedList').find("#selected_"+tid).remove();
			// update array with selected ids
			var ind = selectedTexteIds.indexOf(tid);
			if(ind!=-1) selectedTexteIds.splice(ind,1);
			// update total count
			$('#documentsSelectedCountDiv').html(selectedTexteIds.length);
		}
	}


	
	//////////////////////////////////////////////////////////////////////
	$(document).ready(function() {
		//////////////////////////////////////////////////////////////////////
		// Init documents datatable
		dTable = $('#docTable').dataTable( {
			"bFilter": true,
			//"bSort": false,
			"sScrollY": "400px", // rather take max width
			//"sScrollX": "100%",
 			//"sScrollXInner": "100%",
			"bScrollCollapse": true,
			"bPaginate": false,
			//"bJQueryUI": true,				// jQuery UI Theme
			"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
			"oLanguage": {
				"sSearch": "Filtrer:",
				"sLengthMenu": "Display _MENU_ records per page",
				"sZeroRecords": "Nothing found - sorry",
				"sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
				"sInfoEmpty": "Showing 0 to 0 of 0 records",
				"sInfoFiltered": "(filtered from _MAX_ total records)"
				},	
			}
		);
		
		// todo: we could also try filtering for each column (with textfields on header
		// you would have to import a patched version of the datatableplugin
		// example: ../datatables/js/jquery.dataTables.columnFilter_patched.js">
		// .. and play with header, adding <tr id="headrfilter"> ..etc..
/*
		dTable.columnFilter({
			sFilterRow : 	".dataTables_scrollHead #headrfilter",
			sFilterHead :	"#headrvalues",

			aoColumns: 	[ 	{ type: "select", values: [ 'Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman']  },
					     	{ type: "text" },
					     	null,
					     	{ type: "number" },
	             			{ type: "select" }
						]
		});
*/

		
{% if perms.reanalyseapp.can_make %}

		// click handler for row selection	
		$('#docTable tr').click( function() {
			if ( $(this).hasClass('row_selected') ) {
				deselectDoc(this);
			}
			else {
				selectDoc(this);
			}
		} );

{% endif %}


{% if perms.reanalyseapp.can_make %}
{% comment %}
		//////////////////////////////////////////////////////////////////////
		// Ask for each d3 graph json to fill column "content" , ONLY IF IN MAKE MODE
/*
		{% for row in tTable.values %}
			{% if row.texte.doctype == 'TEI' and row.texte.status == '0' and row.texte.speaker_set.count > 0 %}
				$.ajax({
					url: "{% url reanalyse.reanalyseapp.views.getLittleFriseJson enquete.id row.texte.id %}",
					success: function(data){
						buildD3_TexteContentLittleFrise(data,"d3_texte_{{row.texte.id}}");
					},
				});
			{% endif %}
		{% endfor %}
*/
{% endcomment %}
{% else %}

		$('.dataTables_scrollBody').dragscrollable({dragSelector: '#docTable:first', acceptPropagatedEvent: true});
		
{% endif %}	
		
		
		///////////////////////////////////////////// viz involved modal dialogs
		initVizInvolvedModals("{% url reanalyse.reanalyseapp.views.getVizHtml enquete.id %}");
					
		

	});
</script>
<!-- ======================================================= -->

{% endblock %}

