<!-- =========================== OVERVIEW PAGE -->

{% extends "bq_e_base.html" %}

{% load tags %}
{% load ssi from future %}


{% block enqueteheadmore %}
{% endblock %}


{% block enqueteleftmenumore %}
{% endblock %}


{% block content %}

	<!-- ============================================================================= -->
	<!--<div>- here a viz showing all documents, sortable by date, type, ...</div>-->
	
	<!-- ============================================================================= -->
	<div class="enqueteMetaShowTableContainer">
		<!--<a class="enqueteMetaShowTableToggle" href="#" onclick='$("#enqueteMetaShow").toggle("fast"); return false;'>afficher/masquer le détail</a>-->
		<div id="enqueteMetaShow" style="display:visible;">
			{% if metas %}
				<table class="enqueteMetaShowTable">
				{% for v in metas %}
				<tr class="{% cycle 'odd' 'even' %}">
					<td class="enqueteMetaShowTableKey">{{v.0}}</td>
					<td>{{v.1}}</td>
				</tr>
				{% endfor %}
				</table>
			{% else %}
				Absolutely no meta in this study.
			{% endif %}
		</div>
	</div>
	<!-- ============================================================================= -->
	<div class="contentHtml">	
		<h1>Description</h1>
		<!-- already html styled ! -->
		{% autoescape off %}{{contenthtml}}{% endautoescape %}
		<h1>Publications</h1>
		<ul>
		{% for p in publications %}
			<li>{{p}}</li>
		{% endfor %}
		</ul>
	</div>
	<!-- ============================================================================= -->
		
{% endblock %}





{% block enquetebottommore %}

<!-- ======================================================= -->
<script type="text/javascript">
	$(document).ready(function() {

	});
</script>
<!-- ======================================================= -->

{% endblock %}

