{% extends "bq_e_base.html" %}

{% load i18n %}
{% load tags %}

{% block enqueteheadmore %}
	
	<!-- jquery ui for dropdownmenu & for (deprecated) slider -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
	
{% if texte.doctype == 'CSV' %}
	<!-- FOR CSV : datatables jquery plugin -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/datatables/css/demo_table.css" />
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.dataTables.js"></script>
{% endif %}

{% if texte.doctype == 'TEI' %}
	<!-- Dropdownmenu checklist jquery plugin (POS display selection) -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/dropdownchecklist/js/ui.dropdownchecklist-1.4-min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/dropdownchecklist/css/ui.dropdownchecklist.themeroller.css" />	

	<!-- =============================== FOR VIZ -->
	<!-- d3.js -->
	<!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.geom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.time.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.chart.min.js"></script>
	<!-- the only viz we display for the moment: -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_TexteStreamTimeline.js"></script>

{% endif %}

	<!-- =============================== CSS FOR SPEAKERS COLORS (used for css verbatim block + d3.js viz -->
	<style type="text/css">
		{% for k,v in speakersColors.items %}.speakerColor_{{k}} {background-color:{{v}};fill:{{v}};}
		{% endfor %}
	</style>
	<!-- ======================================================= -->

{% endblock %}


{% block enqueteleftmenumorescroll %}
	
{% if texte.doctype == 'TEI' %}
	<!-- =============================== -->
	<div class="leftmenublock">
		<a href="#" onclick='$("#speakersShowHide").toggle("fast"); return false;'><h1>Show/Hide Speakers</h1></a>
		<div id="speakersShowHide">
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.inv %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.spk %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% if speakers.pro %}
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.pro %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- =============================== -->
	<div class="leftmenublock">
		<a href="#" onclick='$("#paraverbalShowHide").toggle("fast"); return false;'><h3>Show/Hide Paraverbal</h3></a>
		<div id="paraverbalShowHide">
			<input id="paraCheckAll" type="checkbox" checked="checked"/>  toggle all
			{% for k,parvs in paraverbal.items %}
				<h4>{{k}}</h4>
				<ul>
				{% for p in parvs  %}
					<li>
						<input class="paraCheck" id="paraCheck_{{p}}" type="checkbox" checked="checked"/>
						<span class="text_{{p}} text_legend"></span>
						 {{p}}
					</li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>	
	<!-- =============================== -->
{% endif %}



{% endblock %}


{% block contenttop %}

	{% if texte.doctype == 'TEI' %}
	<!-- =================================== FIXED TO SCROLL RELATED VIZ -->
	<div id="contentScrollToFixed">
		<div id="relatedViz">
			<!-- before we tryed to display all the related viz... now just showing the texte streamtimeline used to navigate within text -->
			{% if visualization %}
			<div id="relatedVizContainer" style="display:none;">
				<!-- nb: if you hide it by default, the viz may have pb to build, cause may need the width() to check the available width -->
				<div class="vizContainer" id="vizContainer_0">
					{% include "bq_render_v.html" with enquete=enquete v=visualization nk=0 %}
				</div>
			</div>
			<div id="relatedVizToggle" onclick='$("#relatedVizContainer").toggle("fast");return false;'>
			{% comment %}Translators: edShow: on top toggle text for streamtimeline viz used for navigation{% endcomment %}
			{% trans 'exploration using viz' %}
			</div>
			{% else %}
				
				No StreamTimeline Viz was found. please create one.
	<!-- let's suppose TextStreamTimeline was always created on upload (ie no need a 'create link' here -->
	<!--
	You may want to 
	<a href="" onclick='createVisualization({{enquete.id}},"TexteStreamTimeline",{"textes":["{{texte.id}}"]});return false;'>create</a> 
	a StreamTimeline viz (will help you navigate trough text), then refresh...
	-->
			{% endif %}
		</div>
	</div>
	<!-- =================================== -->
	{% endif %}
	
{% endblock %}



{% block content %}

<!-- =================================== NAME -->
<div id="topAnchor" class="introHtml">
	<h1>{{texte.name}}</h1>
</div>

<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'TEI' %}

<div class="introHtml">
	<!-- ========================================================================= -->
	<p>
	<ul>
		<li><b>Investigator: </b>
			{% for i in speakers.inv %}
			<a href="{% url reanalyse.reanalyseapp.views.esShow enquete.id i.id %}">{{i.name}}</a> ({{i|speakerMeta}})
			{% endfor %}
		</li>
		<li><b>Speaker(s): </b>
			{% for s in speakers.spk %}
			<a href="{% url reanalyse.reanalyseapp.views.esShow enquete.id s.id %}">{{s.name}}</a>, {%comment%} {{s|speakerMeta}}{%endcomment%}
			{% endfor %}
		</li>
	</ul>
	</p>	
	
	{% comment %}
	<!-- ========================================================================= -->
	<!-- Form to tune display of words in verbatim. javascript to update css -->
	<!-- note bug with dropdownchecklist if "display:none;" at the beginning -->
	<a href="#" onclick='$("#verb_controls").toggle("fast"); return false;'>Experimental: display tuning</a>
	<div id="verb_controls">
		Here you can tune the display of words/lemmas
		<input type="checkbox" id="verb_checkfilt_negative" name="negative_mode"/>Negative Mode 
		<a href="" onclick="resetVerbDisplayFilters();return false;">reset filters</a><br/>
		<a href="" onclick="loadSampleStopwordsList();return false;">load sample stopwordlist</a><br/>
		<textarea cols="30" rows="4" id="verb_inputfilt_w"></textarea>
		<textarea cols="30" rows="4" id="verb_inputfilt_lem"></textarea><br/>
		Or select the POS tag you want<br/>
		<select id="verb_selectfilt_pos" multiple="multiple">
		{% for classcat,dic in codes_treetagger.items %}
			<optgroup label="{{classcat}}">
				{% for class,descr in dic.items %}
				<option id="{{class}}" value="{{class}}">{{class}} - {{descr}}</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
		</select>
		Here we can also have the dictionnaries used
		<select id="verb_dictionnary_lem"></select>
		<select id="verb_dictionnary_pos"></select>
		<br/><br/>
	</div>
	<!-- auto-complete by tags using tag-it -->	
	<!--<script src="{{ MEDIA_URL }}/js/tag-it.js" type="text/javascript" charset="utf-8"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery.tagit.css">-->
	<script type="text/javascript">
		// AUTO COMPLETION FOR SEARCH FIELDS
		// Loading tag-it values : all codes
		// Adding all PEOPLE & CODES
/*
		var theTags = [{% for p in enquete.speaker_set.all %}'{{p.name}}',{% endfor %}{% for c in enquete.code_set.all %}'{{c.name}}',{% endfor %}'nope'];
		$('#tagfields').tagit();
		$('#tagfields').tagit({
			availableTags: theTags, // this param is of course optional. it's for autocomplete.
			// configure the name of the input field (will be submitted with form), default: item[tags]
			itemName: 'item',
			fieldName: 'q'
		});
*/
	</script>
	{% endcomment %}
	
</div>

	<!-- ========================================================================= -->
	<!-- before we used to feed the "render_d.html" template with data, now everything is made using ajax (see bottom or render_d.html template) -->
	<div class="text_verbatim" id="verbatim"></div>

{% endif %}
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'CSV' %}

<table class="display" id="csvTable">
	<thead>
		<tr>
		{% for c in csvTable.columns %}
			<th>{{c}}</th>
		{% endfor%}
		</tr>
	</thead>
	<tbody>
		{% for row in csvTable.values %}
			<tr class="gradeA">
			{% for v in row %}
				<td class="{{v.0}}">{{v.1}}</td>
			{% endfor%}
			</tr>
		{% endfor%}
	</tbody>	
</table>
{% endif %}
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'RTF' %}
	<div class="textdiv">
		{% autoescape off %}
		{{texte.content}}
		{% endautoescape %}
	</div>
{% endif %}
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'PDF' %}
	<object data="{% url reanalyse.reanalyseapp.views.servePdf texte.id %}" type="application/pdf" width="100%" height="100%">
		alt : <a href="{% url reanalyse.reanalyseapp.views.servePdf texte.id %}">{{texte.name}}</a>
	</object>
{% endif %}
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'HTM' %}
	<div class="textdiv">
		{% autoescape off %}
		{{texte.contenthtml}}
		{% endautoescape %}
	</div>
{% endif %}
<!-- ===================================================================================================================================== -->
{% endblock %}





{% block enquetebottommore %}

<!-- ======================================================= -->
<!-- scrolling div by hand (jquery plugin) -->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/dragscrollable.js"></script>

<script type="text/javascript">

{% if texte.doctype == 'TEI' %}
	function loadSampleStopwordsList() {
		$.get("{{MEDIA_URL}}/xmlsamples/stopwords_fr.txt", function success(data) {
			$("#verb_inputfilt_w").val(data);
			// negative mode, we want to hide them
			$("#verb_checkfilt_negative").attr('checked','checked');
			changeVerbatimWordsDisplay( data, "w_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
			//console.log("file received:"+);
		});
	};

	///// global vars to feed d3.js streamTimeline
	var fromTextPart = {{minpart}};
	var toTextPart = {{maxpart}};
	var maxTextParts = {{totalmaxparts}};
	
	///// Fetch text parts functions
	var loadingDiv = '<div id="loadingFetchingText"><span class="vizLoadingSpinner"></span> fetching text... please wait<div>';
	
	function getVerbatimParts(from,to) {
		$.scrollTo( $("#topAnchor") , 500, {offset:-190} ); //{top:'0', left:'0'}
		$('#verbatim').html(loadingDiv);
		$.ajax({
			type: "GET",
			data: {'from':from,'to':to {%if highlight%}, 'highlight':'{{highlight}}'{%endif%} },
			url: '{% url reanalyse.reanalyseapp.views.dGetHtmlContent enquete.id texte.id %}' ,
			cache: false,
			success: function processAnswer(html) {
				$('#verbatim').html(html);
				initVerbatimTooltips();
				//console.log("ntotal:"+ $('span:regex(class,lem_*)').length);
				updateDictionnarySelect();
				// sidebar height
				dime.updateView();
			}
		});
	}
	function getClassDic(tag) {
		classes = {};
		$('span:regex(class,'+tag+'*)').each(function() {
			var regp = new RegExp("^"+tag);
			$($(this).attr('class').split(' ')).each(function() { 
				if( this !== '' & regp.test(this) ) {
					classes[this] = this;
				}	
			});
		});
		return classes;
	}
;	function updateDictionnarySelect() {
		var classLem = getClassDic("lem_");
		var count=0;
		for(c in classLem) {
			var seldic=$("#verb_dictionnary_lem");
			$("<option>"+count+" - "+c+"</option>").appendTo(seldic);
			count+=1;
		}
		
		var classLem = getClassDic("pos_");
		var count=0;
		for(c in classLem) {
			var seldic=$("#verb_dictionnary_pos");
			$("<option>"+count+" - "+c+"</option>").appendTo(seldic);
			count+=1;
		}
	}
	
{% endif %}


	$(document).ready(function() {
		
		{% if texte.doctype == 'TEI' %}
		
		///////////////// init verbatim display js controls (stopwords,...)
		// for each word, the view gives us all informations .. so we can filter the display !
		// ex:
		//	<span class="w_mangeais l_manger tfidf_0.2 pos_VERB" title="tfidf=0.1876,..."> mangeais </span>
		// rappel:
		// function changeVerbatimWordsDisplay( textareacontent(tosplit) , "css_prefix", showOrHide? )
		$("#verb_inputfilt_lem").keypress(function(e){
			if(e.which == 13) changeVerbatimWordsDisplay( $("#verb_inputfilt_lem").val(), "lem_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
		});
		$("#verb_inputfilt_w").keypress(function(e){
			if(e.which == 13) changeVerbatimWordsDisplay( $("#verb_inputfilt_w").val(), "w_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
		});				
		$("#verb_selectfilt_pos").dropdownchecklist({
			'emptyText':'select POS tags',
			//'onComplete':onDropDownSelectClick,
			'onItemClick': function(selector) {
				var theSelec = $("#verb_selectfilt_pos option:selected");
				var postagsstr = selector.val()+" " ;
				for(var k=0;k<theSelec.length;k++) {
					var tag = theSelec[k].id ; // looks like "VER_infi"
					postagsstr += tag + " ";
				}
				console.log("dropDownSelectedTags:"+postagsstr);
				changeVerbatimWordsDisplay( postagsstr, "pos_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
			},
			'maxDropHeight':200,
			//'positionHow':'absolute',//'relative'
			'width':200,
			//'minWidth':150,
		});
				
		///////////////// get the actual txt content !
		getVerbatimParts(fromTextPart,toTextPart);
		
		{% endif %}
		
		
		//////////// scroll to fixed
		$('#contentScrollToFixed').scrollToFixed();
		
		//////////// let's put fullscreen as default ? hum not yet
		//toggleFullScreenMode();

{% if texte.doctype == 'CSV' %}
		// Init datatable
		csvTable = $('#csvTable').dataTable( {
			//"bFilter": true,
			//"bSort": false,
			"sScrollY": "600px",
			"sScrollX": "100%", // not taken into acount !!
 			//"sScrollXInner": "100%",
			"bScrollCollapse": true,
			"bPaginate": false,
			//"bJQueryUI": true,				// jQuery UI Theme
			//"aaSorting": [[ 2, "desc" ]],
			//"aoColumnDefs": [ { "sWidth": "10px", "aTargets": [ 4 ] } ],		// column width
			"oLanguage": {
				"sSearch": "Filtrer:",
				"sLengthMenu": "Display _MENU_ records per page",
				"sZeroRecords": "Nothing found - sorry",
				"sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
				"sInfoEmpty": "Showing 0 to 0 of 0 records",
				"sInfoFiltered": "(filtered from _MAX_ total records)"
				},
		});
		$('.dataTables_scrollBody').dragscrollable({acceptPropagatedEvent:true});
{% endif %}
	
	
{% if texte.doctype == 'TEI' %}
		$( "#teiIntervalSlider" ).slider({
			range: true,
			min: {{minpart}},
			max: {{maxpart}},
			values: [ {{minpart}}, {{maxpart}} ],
			stop: function( event, ui ) {
				var min=$("#teiIntervalSlider").slider("values",0);
				var max=$("#teiIntervalSlider").slider("values",1);
				// Update text
				$("#teiIntervalText").html("from "+min+" to "+max);
				// fetch content
				getVerbatimParts(min,max);
			}
		});
		var min=$("#teiIntervalSlider").slider("values",0);
		var max=$("#teiIntervalSlider").slider("values",1);
		$("#teiIntervalText").html("from "+min+" to "+max);
			
		// init tooltips is made when receiving textparts !
		
		// TOGGLE Speakers
		{% for s in texte.speaker_set.all %}
		$('#spkCheck_{{s.id}}').click(function() {
			console.log("toggle spk:{{s.id}}");
			$('.speaker_{{s.id}}').toggle();
		});
		{% endfor %}
		
		// TOGGLE All paraverbal
		$('#paraCheckAll').click(function() {
			console.log("toggle all");
			var chk = $('#paraCheckAll').attr("checked");
			if (chk!='checked') chk=null;
			{% for k,parvs in paraverbal.items %}
			{% for p in parvs  %}
			$('#paraCheck_{{p}}').attr('checked',chk);
			$('.text_{{p}}:not(.text_legend)').toggle();
			{% endfor %}
			{% endfor %}
		});
		
		// TOGGLE paraverbals
		{% for k,parvs in paraverbal.items %}
		{% for p in parvs  %}
		$('#paraCheck_{{p}}').click(function() {
			console.log("toggle par:{{p}}");
			$('.text_{{p}}:not(.text_legend)').toggle();
		});
		{% endfor %}
		{% endfor %}
		
{% endif %}
	
	
	});
</script>
<!-- ======================================================= -->

{% endblock %}
























{% comment %}



<!-- CTX was for CAQDAS files, deprecated man -->
<!-- ======================================================= -->
{% if texte.doctype == 'CTX' %}
	<a href="#" onclick='doGetAtUrl("{% url reanalyse.reanalyseapp.views.edStylizeContent texte.id %}");//window.location.reload(true);'>> Refresh Texte contenthtml from TXT and QUOTATIONS</a>
	<h1>Texte: {{ texte.name }}</h1>
	<!--<div class="textdiv">-->
		{% autoescape off %}
		{{texte.contenthtml}}
		{% endautoescape %}
	<!--</div>-->

{% endif %}
<!-- ======================================================= -->
{% if texte.doctype == 'CTX' %}
	<!-- jquery plugin scrollTo -->
	</br>
	<a href="#" onclick="$.scrollTo( {top:'0', left:'0'}, 500 );return false;">Scroll to Top</a>
	<!-- Scriptaculous smooth scroll to top -->
	<!--<a href="#" onclick="Effect.ScrollTo('topanchor', { duration:'0.5', offset:-10 });return false;">Scroll to Top</a>-->
{% endif %}
<!-- ======================================================= -->



<!--
	DEPRECATED: B.C. we used pagination to navigate through verbatim
	<span class="document-pagination">
		showing {{ page.paginator.per_page }} interventions per page (rather show
		<a href="?page=1&perpage=50">50</a> | 
		<a href="?page=1&perpage=100">100</a> | 
		<a href="?page=1&perpage=200">200</a>)
		</br>
		{% if page.has_previous %}
			<a href="?page={{ page.previous_page_number }}&perpage={{ page.paginator.per_page }}">previous</a>
		{% endif %}
		
		{% for kp in page.paginator.page_range %}
			{% if kp != page.number %}
					<a href="?page={{ kp }}&perpage={{ page.paginator.per_page }}"> {{kp}} </a>
			{% else %}
					<b>  {{kp}}  </b>
			{% endif %}
			{% endfor %}
		
		{% if page.has_next %}
			<a href="?page={{ page.next_page_number }}&perpage={{ page.paginator.per_page }}">next</a>
		{% endif %}
	</span>
-->
{% endcomment %}