<!-- =========================== BROWSE ENQUETES LIST -->

{% extends "base.html" %}

{% load i18n %}

{% block bodyid %}
<body id="e">
{% endblock %}

{% block head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/utilScripts.js"></script>
	
{% endblock %}

{% block leftmenu %}
	<div id="leftmenucontent">
		<div class="leftmenublock">
			<a href="{% url reanalyse.reanalyseapp.views.home %}">< {% trans 'Back home' %}</a>
		</div>
	</div>
{% endblock %}

{% block content %}

<! ================================================= -->
{% if enquetesandmeta %}
	<ul id="eList">
	{% for e in enquetesandmeta %}
		<li id="e_{{e.0.id}}">
			<div class="eBrowseEnquete" onclick='window.location.href="{% url reanalyse.reanalyseapp.views.eShow e.0.id %}"'>
				{% if perms.reanalyseapp.can_make %}
				<span class="eBrowseEnqueteStatus">	
				[{{ e.0.get_status_display }}{% if e.0.status != '0' %} {{e.0.statuscomplete}}%{% endif %}]
				<a href="#" onclick='doGetAtUrl("{% url reanalyse.reanalyseapp.views.eDelete e.0.id %}");$("#e_{{e.0.id}}").remove();event.stopPropagation();return false;'>delete</a>
				</span>
				{% endif %}
				<h1>{{e.0.name}}</h1>
				<div class="eBrowseEnqueteMetaContainer">
					<div class="eBrowseEnqueteMeta">{% if perms.reanalyseapp.can_make %}({{e.0.id}}) {% endif %}
						<span class="eBrowseEnqueteMetaAuthor">{{e.1.0}}</span> | {{e.1.1}} | {{e.1.2}}
						{% if perms.reanalyseapp.can_make %}
						 | uploaded: {{e.0.date}}
						{% endif %}
					</div>
					<div class="eBrowseEnqueteContentStats">
						{% comment %}Translators: Studies list{% endcomment %}
						{{e.0.texte_set.count}} {% trans 'Documents' %}
						 | {{e.0.speaker_set.count}} {% trans 'Speakers' %}
						 | {{e.0.visualization_set.count}} {% trans 'Visualizations' %}
					</div>
				</div>
				<hr>
				
				<div class="eBrowseEnqueteDescription">{% autoescape off %}{{e.0.description}}{% endautoescape %}</div>
			</div>
		</li>
	{% endfor %}      
	</div>
	</ul>
{% else %}
	<p>There is absolutely no study in this site. wtf ?</p>
{% endif %}
<! ================================================= -->

{% endblock %}



{% block bottom %}

{% endblock %}