{% extends "e_base.html" %}

{% load tags %}

{% block enqueteheadmore %}
	
	<!-- jquery ui for dropdownmenu & for (deprecated) slider -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
	
{% if texte.doctype == 'CSV' %}
	<!-- FOR CSV : datatables jquery plugin -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/datatables/css/demo_table.css" />
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/datatables/js/jquery.dataTables.js"></script>
{% endif %}

{% if texte.doctype == 'TEI' %}
	<!-- Dropdownmenu checklist jquery plugin (POS display selection) -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/dropdownchecklist/js/ui.dropdownchecklist-1.4-min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/dropdownchecklist/css/ui.dropdownchecklist.themeroller.css" />	
{% endif %}
	
	<!-- =============================== FOR VIZ -->
	<!-- d3.js -->
	<!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.geom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.time.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.chart.min.js"></script>

	
	<!-- =============================== CSS FOR SPEAKERS COLORS (used for css verbatim block + d3.js viz -->
	<style type="text/css">
		{% for k,v in speakersColors.items %}.speakerColor_{{k}} {background-color:{{v}};fill:{{v}};}
		{% endfor %}
	</style>
	<!-- ======================================================= -->

{% endblock %}


{% block enqueteleftmenumorescroll %}
	
{% if texte.doctype == 'TEI' %}
	<!-- =============================== -->
	<div class="leftmenublock">
		<a href="#" onclick='$("#speakersShowHide").toggle("fast"); return false;'><h1>Show/Hide Speakers</h1></a>
		<div id="speakersShowHide" style="display:none;">
			<h1>Investigator</h1>
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.inv %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			<h1>Speaker</h1>
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.spk %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% if speakers.2 %}
			<h1>Adjuvant</h1>
			<div id="speakersShowHide">
				<ul class="spkcheckboxes">
				{% for s in speakers.pro %}
					<li class="speakerColor_{{s.id}}">
						<input id="spkCheck_{{s.id}}" type="checkbox" checked="checked" />
						{{ s.name }}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- =============================== -->
	<div class="leftmenublock">
		<a href="#" onclick='$("#paraverbalShowHide").toggle("fast"); return false;'><h1>Show/Hide Paraverbal</h1></a>
		<div id="paraverbalShowHide" style="display:visible;"></div>
	</div>	
	<!-- =============================== -->
{% endif %}



{% endblock %}


{% block contenttop %}
	{% if texte.doctype == 'TEI' %}
	<!-- =================================== FIXED TO SCROLL RELATED VIZ -->
	<div id="contentScrollToFixed">
		<div id="relatedViz">
			{% if visualizations %}
			<div id="relatedVizContainer" style="display:none;">
				{% for v in visualizations %}
					<div class="vizContainer" id="vizContainer_{{forloop.counter}}" style="display:none;">
						<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_{{v.viztype}}.js"></script>
						{% include "render_v.html" with enquete=enquete v=v nk=forloop.counter %}
					</div>
				{% endfor %}
			</div>
			<div id="relatedVizToggle" {%if visualizations|length%}onclick='$("#relatedVizContainer").toggle("fast");return false;'{%endif%}>
				- {{visualizations|length}} related viz - 
				{% for v in visualizations %}
	<a href="#" onclick='$("#relatedVizContainer").toggle(true,"fast");$(".vizContainer").toggle(false);$("#vizContainer_{{forloop.counter}}").toggle(true);event.stopPropagation();return false;'>({{v.id}}) {{v.viztype}}</a>
					{% if not forloop.last %} | {% endif %}
				{% endfor %}
			</div>
			{% else %}
				You may want to 
				<a href="" onclick='createVisualization({{enquete.id}},"TexteStreamTimeline",{"textes":["{{texte.id}}"]});return false;'>create</a> a StreamTimeline viz (will help you navigate trough text), then refresh...
			{% endif %}
		</div>
	</div>
	<!-- =================================== -->
	{% endif %}
{% endblock %}



{% block content %}

<!-- =================================== NAME -->
<div id="topAnchor" class="introHtml">
	<h1>{{texte.name}}</h1>
</div>

<!-- ===================================================================================================================================== -->
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'TEI' %}

<div class="introHtml">
	<!-- ========================================================================= -->
	<b>Investigator: </b>
		{% if speakers.inv %}
		<a href="{% url reanalyse.reanalyseapp.views.esShow enquete.id speakers.inv.0.id %}">{{speakers.inv.0.name}}</a>, 
		{{speakers.inv.0|speakerMeta}}
		{% endif %}
		<br/>
	<b>Speaker: </b>
		{% if speakers.spk %}
		<a href="{% url reanalyse.reanalyseapp.views.esShow enquete.id speakers.spk.0.id %}">{{speakers.spk.0.name}}</a>, 
		{{speakers.spk.0|speakerMeta}}
		{% endif %}
	<h2>Transcription</h2>
	
	<!-- ========================================================================= -->
	<!-- Form to tune display of words in verbatim. javascript to update css -->
	<!-- note bug with dropdownchecklist if "display:none;" at the beginning -->
	<a href="#" onclick='$("#verb_controls").toggle("fast"); return false;'>Experimental: display tuning</a>
	<div id="verb_controls" style="display:none;">
		Here you can tune the display of words/lemmas
		<input type="checkbox" id="verb_checkfilt_negative" name="negative_mode"/>Negative Mode 
		<a href="" onclick="resetVerbDisplayFilters();return false;">reset filters</a><br/>
		<a href="" onclick="loadSampleStopwordsList();return false;">load sample stopwordlist</a><br/>
		<textarea cols="30" rows="4" id="verb_inputfilt_w"></textarea>
		<textarea cols="30" rows="4" id="verb_inputfilt_lem"></textarea><br/>
		Or select the POS tag you want<br/>
		<select id="verb_selectfilt_pos" multiple="multiple">
		{% for classcat,dic in codes_treetagger.items %}
			<optgroup label="{{classcat}}">
				{% for class,descr in dic.items %}
				<option id="{{class}}" value="{{class}}">{{class}} - {{descr}}</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
		</select>
		Here we can also have the dictionnaries used
		<select id="verb_dictionnary_lem"></select>
		<select id="verb_dictionnary_pos"></select>
		<br/><br/>
	</div>
</div>

	<!-- ========================================================================= -->
	<!-- before we used to feed the "render_d.html" template with data, now everything is made using ajax (see bottom or render_d.html template) -->
	<div class="text_verbatim" id="verbatim"></div>

{% endif %}


<!-- ===================================================================================================================================== -->
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'CSV' %}

<table class="display" id="csvTable">
	<thead>
		<tr>
		{% for c in csvTable.columns %}
			<th>{{c}}</th>
		{% endfor%}
		</tr>
	</thead>
	<tbody>
		{% for row in csvTable.values %}
			<tr class="gradeA">
			{% for v in row %}
				<td class="{{v.0}}">{{v.1}}</td>
			{% endfor%}
			</tr>
		{% endfor%}
	</tbody>	
</table>

{% endif %}
<!-- ===================================================================================================================================== -->
<!-- ===================================================================================================================================== -->
{% if texte.doctype == 'RTF' %}
	<div class="textdiv">
		{% autoescape off %}
		{{texte.content}}
		{% endautoescape %}
	</div>
{% endif %}
<!-- ======================================================= -->
{% if texte.doctype == 'PDF' %}
	<object data="{% url reanalyse.reanalyseapp.views.servePdf texte.id %}" type="application/pdf" width="100%" height="100%">
		alt : <a href="{% url reanalyse.reanalyseapp.views.servePdf texte.id %}">{{texte.name}}</a>
	</object>
{% endif %}
<!-- ======================================================= -->
{% if texte.doctype == 'CTX' %}
	<a href="#" onclick='doGetAtUrl("{% url reanalyse.reanalyseapp.views.edStylizeContent texte.id %}");//window.location.reload(true);'>> Refresh Texte contenthtml from TXT and QUOTATIONS</a>
	<h1>Texte: {{ texte.name }}</h1>
	<!--<div class="textdiv">-->
		{% autoescape off %}
		{{texte.contenthtml}}
		{% endautoescape %}
	<!--</div>-->

{% endif %}
<!-- ======================================================= -->





{% if texte.doctype == 'CTX' %}
	<!-- jquery plugin scrollTo -->
	</br>
	<a href="#" onclick="$.scrollTo( {top:'0', left:'0'}, 500 );return false;">Scroll to Top</a>
	<!-- Scriptaculous smooth scroll to top -->
	<!--<a href="#" onclick="Effect.ScrollTo('topanchor', { duration:'0.5', offset:-10 });return false;">Scroll to Top</a>-->
	<!-- ======================================================= -->
{% endif %}



{% endblock %}





{% block enquetebottommore %}

<!-- ======================================================= -->
<!-- scrolling div by hand (jquery plugin) -->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/dragscrollable.js"></script>

<script type="text/javascript">

function loadSampleStopwordsList() {
	$.get("{{MEDIA_URL}}/xmlsamples/stopwords_fr.txt", function success(data) {
		$("#verb_inputfilt_w").val(data);
		// negative mode, we want to hide them
		$("#verb_checkfilt_negative").attr('checked','checked');
		changeVerbatimWordsDisplay( data, "w_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
		//console.log("file received:"+);
	});
};
		
{% if texte.doctype == 'TEI' %}
	///// global vars to feed d3.js streamTimeline
	var fromTextPart = {{minpart}};
	var toTextPart = {{maxpart}};
	var maxTextParts = {{totalmaxparts}};
	
	///// Fetch text parts functions
	var loadingDiv = '<div id="loadingFetchingText"><span class="vizLoadingSpinner"></span> fetching text... please wait<div>';
	
	function getVerbatimParts(from,to) {
		$.scrollTo( $("#topAnchor") , 500, {offset:-190} ); //{top:'0', left:'0'}
		$('#verbatim').html(loadingDiv);
		$.ajax({
			type: "GET",
			data: {'from':from,'to':to {%if highlight%}, 'highlight':'{{highlight}}'{%endif%} },
			url: '{% url reanalyse.reanalyseapp.views.dGetHtmlContent enquete.id texte.id %}' ,
			cache: false,
			success: function processAnswer(html) {
				$('#verbatim').html(html);
				initVerbatimTooltips();
				
				//console.log("ntotal:"+ $('span:regex(class,lem_*)').length);
				
				updateDictionnarySelect();
				
			}
		});
	}
	function getClassDic(tag) {
		classes = {};
		$('span:regex(class,'+tag+'*)').each(function() {
			var regp = new RegExp("^"+tag);
			$($(this).attr('class').split(' ')).each(function() { 
				if( this !== '' & regp.test(this) ) {
					classes[this] = this;
				}	
			});
		});
		return classes;
	}
;	function updateDictionnarySelect() {
		var classLem = getClassDic("lem_");
		var count=0;
		for(c in classLem) {
			var seldic=$("#verb_dictionnary_lem");
			$("<option>"+count+" - "+c+"</option>").appendTo(seldic);
			count+=1;
		}
		
		var classLem = getClassDic("pos_");
		var count=0;
		for(c in classLem) {
			var seldic=$("#verb_dictionnary_pos");
			$("<option>"+count+" - "+c+"</option>").appendTo(seldic);
			count+=1;
		}
	}
	
{% endif %}


	$(document).ready(function() {
		
		{% if texte.doctype == 'TEI' %}
		
		///////////////// init verbatim display js controls (stopwords,...)
		// for each word, the view gives us all informations .. so we can filter the display !
		// ex:
		//	<span class="w_mangeais l_manger tfidf_0.2 pos_VERB" title="tfidf=0.1876,..."> mangeais </span>
		// rappel:
		// function changeVerbatimWordsDisplay( textareacontent(tosplit) , "css_prefix", showOrHide? )
		$("#verb_inputfilt_lem").keypress(function(e){
			if(e.which == 13) changeVerbatimWordsDisplay( $("#verb_inputfilt_lem").val(), "lem_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
		});
		$("#verb_inputfilt_w").keypress(function(e){
			if(e.which == 13) changeVerbatimWordsDisplay( $("#verb_inputfilt_w").val(), "w_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
		});				
		$("#verb_selectfilt_pos").dropdownchecklist({
			'emptyText':'select POS tags',
			//'onComplete':onDropDownSelectClick,
			'onItemClick': function(selector) {
				var theSelec = $("#verb_selectfilt_pos option:selected");
				var postagsstr = selector.val()+" " ;
				for(var k=0;k<theSelec.length;k++) {
					var tag = theSelec[k].id ; // looks like "VER_infi"
					postagsstr += tag + " ";
				}
				console.log("dropDownSelectedTags:"+postagsstr);
				changeVerbatimWordsDisplay( postagsstr, "pos_", $("#verb_checkfilt_negative").attr('checked')!='checked' );
			},
			'maxDropHeight':200,
			//'positionHow':'absolute',//'relative'
			'width':200,
			//'minWidth':150,
		});
				
		///////////////// get the actual txt content !
		getVerbatimParts(fromTextPart,toTextPart);
		
		{% endif %}
		
		
		//////////// scroll to fixed
		$('#contentScrollToFixed').scrollToFixed();
		
		//////////// let's put fullscreen as default ? hum not yet
		//toggleFullScreenMode();

{% if texte.doctype == 'CSV' %}
		// Init datatable
		csvTable = $('#csvTable').dataTable( {
			//"bFilter": true,
			//"bSort": false,
			"sScrollY": "600px",
			"sScrollX": "100%", // not taken into acount !!
 			//"sScrollXInner": "2800px",
			"bScrollCollapse": true,
			"bPaginate": false,
			//"bJQueryUI": true,				// jQuery UI Theme
			//"aaSorting": [[ 2, "desc" ]],
			//"aoColumnDefs": [ { "sWidth": "10px", "aTargets": [ 4 ] } ],		// column width
			"oLanguage": {
				"sSearch": "Filtrer:",
				"sLengthMenu": "Display _MENU_ records per page",
				"sZeroRecords": "Nothing found - sorry",
				"sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
				"sInfoEmpty": "Showing 0 to 0 of 0 records",
				"sInfoFiltered": "(filtered from _MAX_ total records)"
				},
		});
		$('.dataTables_scrollBody').dragscrollable({acceptPropagatedEvent:true});
{% endif %}
	
	
{% if texte.doctype == 'TEI' %}
		$( "#teiIntervalSlider" ).slider({
			range: true,
			min: {{minpart}},
			max: {{maxpart}},
			values: [ {{minpart}}, {{maxpart}} ],
			stop: function( event, ui ) {
				var min=$("#teiIntervalSlider").slider("values",0);
				var max=$("#teiIntervalSlider").slider("values",1);
				// Update text
				$("#teiIntervalText").html("from "+min+" to "+max);
				// fetch content
				getVerbatimParts(min,max);
			}
		});
		var min=$("#teiIntervalSlider").slider("values",0);
		var max=$("#teiIntervalSlider").slider("values",1);
		$("#teiIntervalText").html("from "+min+" to "+max);
			
			
		// init tooltips is made when receiving textparts !
		
		/////////// DEPRECATED (NOW ITS FIXED)
		// adjust div text size base on max speaker name (left column)
		//initSpeakersDivSizes();
		
		// LEFTMENU : get all speakers div and build checkboxes to toggle their visibility
		var spIds = [{% for s in texte.speaker_set.all %}{{s.id}},{% endfor %}] ;
		initSpeakersTogglesActions( spIds );
		
			
		// todo: FOLLOWING CAN BE DONE USING TEMPLATE ONLY !!!
		// LEFTMENU : build checkboxes and images for each paraverbal
		{% autoescape off %}
		initParaverbalTogglesAndSymbols( "{{MEDIA_URL}}",{{paraverbal.transcription}},{{paraverbal.verbatim}} );
		{% endautoescape %}	
{% endif %}
	
	
	
	});
</script>
<!-- ======================================================= -->

{% endblock %}








{% comment %}
<!--
	DEPRECATED: B.C. we used pagination to navigate through verbatim
	<span class="document-pagination">
		showing {{ page.paginator.per_page }} interventions per page (rather show
		<a href="?page=1&perpage=50">50</a> | 
		<a href="?page=1&perpage=100">100</a> | 
		<a href="?page=1&perpage=200">200</a>)
		</br>
		{% if page.has_previous %}
			<a href="?page={{ page.previous_page_number }}&perpage={{ page.paginator.per_page }}">previous</a>
		{% endif %}
		
		{% for kp in page.paginator.page_range %}
			{% if kp != page.number %}
					<a href="?page={{ kp }}&perpage={{ page.paginator.per_page }}"> {{kp}} </a>
			{% else %}
					<b>  {{kp}}  </b>
			{% endif %}
			{% endfor %}
		
		{% if page.has_next %}
			<a href="?page={{ page.next_page_number }}&perpage={{ page.paginator.per_page }}">next</a>
		{% endif %}
	</span>
-->
{% endcomment %}