{% extends "e_base.html" %}

{% load i18n %}

{% block enqueteheadmore %}
	
	<!-- d3.js -->
	<!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.geom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.time.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.chart.min.js"></script>
	
	<!-- d3 vizus -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Cloud_SolrSpeakerTagCloud.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_TexteStreamTimeline.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Attributes.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Overview.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_StudyOverview.js"></script>
	
	<!-- jquery ui for slider -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
			
	<!-- seadragon png explorer/zoomer -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/seadragon/seadragon-min.js"></script>
   


	<!-- scrollTo jquery plugin, for smooth scrolling -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery.scrollTo.js"></script>
	
	<!-- =============================== CSS FOR SPEAKERS COLORS (svg fill) -->
	<style type="text/css">
		{% for k,v in speakersColors.items %}.speakerColor_{{k}} {fill:{{v}};}
		{% endfor %}
	</style>
	<!-- ======================================================= -->
	
{% endblock %}

{% block enqueteleftmenumore %}
{% endblock %}

{% comment %}
{% block enqueteleftmenumorescroll %}

	<!-- =============================== VIZ SHOW HIDE (deactivated) -->
	<div class="leftmenublock">
		<h1 onclick='$("#vizShowHide").toggle("fast");return false;'>Toggle / Show</h1>
		<div id="vizShowHide" style="display:none;">
			<a href="" id="butAllAll">all</a> | 
			<a href="" id="butAllHeader">headers</a> | 
			<a href="" id="butAllDescr">descr</a> | 
			<a href="" id="butAllViz">viz</a>
		<h1>Show only viz types</h1>
			<ul>
			{% for typ in viztypes %}
				<li><a href="" id="butAllOnly_{{typ}}">{{typ}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	
	<!-- =============================== OVERVIEW VIZ (deactivated) -->
	<div class="leftmenublock">
		<h1 onclick='$("#vizOverViewContainer").toggle("fast");return false;'>Viz Repartition</h1>
		<div id="vizOverViewContainer" style="display:none;">
			<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Overview.js"></script>

			<!-- tryout using template (deprecated) -->
			<!--{% include "render_v.html" with enquete=enquete v=overviewViz nk="overview" %}-->
			
			<!-- rather re-doing it by hand -->
			<div id="theViz_over" style="width:100%;"></div>
			<script type="text/javascript">
				$(document).ready(function() {
				$.ajax({
					url: "{% url reanalyse.reanalyseapp.views.evGetJson enquete.id overviewViz.id %}",
					success: function(data){
						//console.log("data received for viz:{{nk}}");
						$("#theViz_over").html("");
						var statdat = { 'mode':'weight','stats':{ {%for k,v in overviewStats.items%}'{{k}}':{{v}},{%endfor%} } };
						buildD3_Overview(data,"theViz_over",statdat);
						},
					});
				});
			</script>
		</div>
	</div>
		
{% endblock %}
{% endcomment %}

{% block content %}

	{% if not visualizations %}
		{% comment %}Translators: Visualization browse when null{% endcomment %}
		{% trans "There isn\'t any Visualisation in this study" %}
	{% else %}
	
	<div class="vizAll">
		<ul>
		{% for v in visualizations %}
		{% if perms.reanalyseapp.can_make or v.public %}
			<li class="vizList">
			<div class="vizOne viztype_{{v.viztype}}" id="vizOne_{{forloop.counter}}">			
				
				<div class="vizTop butToggleHeader" id="vizTop_{{forloop.counter}}"></div>
				
				<div class="vizHeader butToggleShow" id="vizHeader_{{forloop.counter}}">
			
				<div class="vizInvolve">
					<table class="vizInvolveTable">
					<tr>
						<td style="text-align:right;"></td>
						<td style="text-align:left;">
							{% if v.speakers.all|length == 1 %}
<a class="relatedLink" href="{%url reanalyse.reanalyseapp.views.esShow enquete.id v.speakers.all.0.id%}">{{v.speakers.all.0.name}}</a>
							{% else %}
								{% if v.speakers.all|length == 0 %}
									<span style="color:lightgray;">All Speakers</span>
								{% else %}
									{{v.speakers.all.count}} Speakers
								{% endif %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<td style="text-align:right;"></td>
						<td style="text-align:left;">
							{% if v.textes.all|length == 1 %}
<a class="relatedLink" href="{%url reanalyse.reanalyseapp.views.edShow enquete.id v.textes.all.0.id%}">{{v.textes.all.0.name}}</a>
							{% else %}
								{% if v.textes.all|length == 0 %}
									<span style="color:lightgray;">All Textes</span>
								{% else %}
									{{v.textes.all.count}} Textes
								{% endif %}
							{% endif %}						
						</td>
					</tr>					
					</table>
				</div>
				
				<h1>{{v.id}} - {{v.viztype}}</h1>
					
				<div class="vizActions">
				{% if perms.reanalyseapp.can_make %}
				<a href="#" onclick='doGetAtUrl("{% url reanalyse.reanalyseapp.views.evDelete enquete.id v.id %}");$(this).parent().parent().parent().remove();return false;'>delete</a> | 
				<a class="butSwitchPublicFlag" id="switchPublicFlag_{{v.id}}_{{v.public}}" href=''><span class="vizStatus{%if v.public%}Public{%else%}Private{%endif%}">{%if v.public%}public{%else%}private{%endif%}</span></a> | 
				<a class="butGetJson" href="{% url reanalyse.reanalyseapp.views.evGetJson enquete.id v.id %}">json</a> | 
				<!-- ==================================================== -->
				<script type="text/javascript">
					$("#switchPublicFlag_{{v.id}}_{{v.public}}").click( function() {
						var toggleId = $(this).attr('id');
						var vizId = $(this).attr('id').split('_')[1];
						var vizStatus = $(this).attr('id').split('_')[2];
						$.ajax({
							type: "GET",
							dataType: "json",
							//datz: {'p':vizStatus},
							url: '{% url reanalyse.reanalyseapp.views.evSetPublic enquete.id v.id %}',
							cache: false,
							success: function processAnswer(dat) {
								var status = dat.status;
								var theToggle = $("#"+toggleId);
								// update button
								console.log("viz public status updated:"+toggleId+":"+status);
								if (status==true)
									htstr = '<span class="vizStatusPublic">public</span>';
								else
									htstr = '<span class="vizStatusPrivate">private</span>';
								theToggle.html(htstr);
								var oldId = "switchPublicFlag_" + vizId +'_';
								theToggle.attr('id',oldId + status);
								return false;		
							}
						});
						return false;
					});
				</script>
				<!-- ==================================================== -->
				{% endif %}
				
				
				{% if v.status == '0' %}
					<!-- =============================== -->
					<!--<a href="#" onclick='saveMyHtml("vizOneContainer_{{forloop.counter}}","{{v.id}}"); return false;'>save</a> | -->
					
					<a href="#" class="butToggleDescription" id="butToggle_{{forloop.counter}}">description</a> | 
					<a href="#" class="butReload" id="butReload_{{forloop.counter}}">reload</a>
					<!-- <a href="#" class="butToggleShow" id="{{forloop.counter}}">toggle show</a> -->
					</div>
					
				</div>
					
					<div class="descrContainer" id="descrContainer_{{forloop.counter}}" style="display:none;">
						{% autoescape off %}{{ v.description }}{% endautoescape %}
					</div>
				
					<div class="vizContainer" id="vizContainer_{{forloop.counter}}" style="display:none;">
						{% include "render_v.html" with enquete=enquete v=v nk=forloop.counter %}
					</div>
					
					<script type="text/javascript">
						//$("#vizContainer_{{forloop.counter}}").resizable();
					</script>

				{% else %}
					<!-- =============================== -->
					<span class="vizLoadingSpinner"></span> 
					<span style="color:blue;">Viz is loading, it could take long, please be patient... and refresh page</span>
					</div>
				{% endif %}
				
			</div>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	
{% endblock %}




{% block enquetebottommore %}
	<script type="text/javascript">
		// if all loaded, send html to the server to save it in the model
		function saveMyHtml(domId,vizuId) {
			$.post({
				type:'POST',
				data: { 'thehtml':$('#'+domId).html() },
				url: '/reanalyse/e/'+{{enquete.id}}+'/v/'+vizuId+'/save',
				success: function(data){
					//do nothing
				},
			});
		};
		
		var toggleShow = function(header,descr,viz) {
			$(".vizHeader").toggle(header);
			$(".descrContainer").toggle(descr);
			$(".vizContainer").toggle(viz);
		};
		
		$(document).ready(function() {
		
			toggleShow(true,false,true);
			
			/////////////////////////////////// general actions
			{% for typ in viztypes %}
			$("#butAllOnly_{{typ}}").click( function(event) {
				toggleShow(false,false,false);
				
				$(".viztype_{{typ}} .vizHeader").toggle(false);
				$(".viztype_{{typ}} .descrContainer").toggle(false);
				$(".viztype_{{typ}} .vizContainer").toggle(true);

				//$.scrollTo({top:'0', left:'0'}, 500);		
				return false;
			});
			{% endfor %}

			$("#butAllAll").click( function(event) {
				toggleShow(true,true,true);
				return false;
			});			
			$("#butAllHeader").click( function(event) {
				toggleShow(true,false,false);				
				return false;
			});
			$("#butAllDescr").click( function(event) {
				toggleShow(false,true,false);			
				return false;
			});
			$("#butAllViz").click( function(event) {
				toggleShow(false,false,true);				
				return false;
			});
			/////////////////////////////////// init all switches for show/hides flags
			$(".descrContainer").click( function(event) {
				var k = this.id.split("_")[1];
				$("#vizContainer_"+k).toggle("fast");
				return false;
			});
			$(".butToggleDescription").click( function(event) {
				var k = this.id.split("_")[1];
				$("#descrContainer_"+k).toggle("fast");
				return false;
			});
			$(".butToggleShow").click( function(event) {
				var k = this.id.split("_")[1];
				$("#vizContainer_"+k).toggle("fast");
				return false;
			});
			$(".butToggleHeader").click( function(event) {
				var k = this.id.split("_")[1];
				$("#vizHeader_"+k).toggle("fast");
				return false;
			});
			$(".butGetJson").click( function(event) {
				window.open(this.href);
				return false;
			});
			//////////////////////////////////// related links
			$(".relatedLink").click( function(event) {
				window.open(this.href);
				return false;
			});
		});

		
	</script>
{% endblock %}

