{% extends "base.html" %}

{% block bodyid %}
<body id="e">
{% endblock %}

{% block head %}

	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/e.css"/>
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	
	<!-- using django-tables2 -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/paleblue/css/screen.css" />
	
	<!-- Processingjs -->
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/processing.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/canvastext.js"></script>
	
{% endblock %}


{% block leftmenu %}

{% endblock %}




{% block content %}

<!-- ======================================================= -->
<a href="{% url reanalyse.reanalyseapp.views.eShow word.code.enquete.id %}">< Retour Enquête: {{word.code.enquete.name}}</a></br>
<!-- ======================================================= -->
<!-- Warning : word is in fact a WordEntity object -->
<h1>Word: {{ word.content }}</h1>
<!-- ======================================================= -->
<h1>Speakers using this word (and count)</h1>
{% for s in stat %}
	{{s.speaker}} : {{s.tfidf}} </br>
{% endfor %}


<!-- ======================================================= -->
<h1>Texts using this word</h1>
{% for s in word.wordentityspeaker_set.all %}
	{{s.name}}
{% endfor %}


<!-- ======================================================= -->
<!-- DEPRECATED PROCESSINJS SHOWING WORDS TFIDF -->
<!--
<h1>Position in TFIDF graph</h1>
<div>
	<canvas id='tfidfPjsCanvas' data-processing-sources="{{ MEDIA_URL }}/pjs/etfidf.pjs"></canvas>
</div>
-->
<!-- Get json to feed processingjs canvas -->
<!--
<script type="text/javascript">
	jQuery(document).ready(function(){
		$.ajax({
			type: "GET",
			dataType: "json",
			url: '/reanalyse/e/'+{{word.code.enquete.id}}+'/json/tfidf/'+{{word.id}},
			cache: false,
			success: function updateProcessing(indata) { 
				var pjs = Processing.getInstanceById('tfidfPjsCanvas');
				pjs.initVals(indata["ymin"],indata["ymax"],indata["xstep"],indata["ystep"]);
				console.log("TFIDFXstep:"+indata["xstep"]);
				// Selected Word
				sel = pjs.addWord(i,d['tfidf'],d['word']);
				sel.isSelected = True;
				// All Words
				for (i=0;i<indata['xstep'];i++) {
					var v=indata['docs_'+i];
					for (j=0;j<indata['ystep'];j++) {
						var d=v[j]
						if (typeof d['tfidf'] != 'undefined') {
							pjs.addWord(i,d['tfidf'],d['word']);
							console.log("TFIDFAddingWord:"+d['word']+":"+i+":"+d['tfidf']);
						}
					}
				}
				
			}
		});
	});
</script>
-->
<!-- ======================================================= -->


{% endblock %}


{% block bottom %}
<!-- ======================================================= -->

<!-- ======================================================= -->

{% endblock %}