{% extends "base.html"%}

{% load i18n %}
{% load tags %}

{% block head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.6.2.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/utilScripts.js" type="text/javascript"></script>
	
{% endblock %}

{% block leftmenu %}
	<div id="leftmenucontent">
		{% if bodyid == 'project' or bodyid == 'method' %}
		<div class="leftmenublock">
			<ul>
				{% for p in subpages %}
				<li>
					{% if p.2 %}
						<div class="allPage {% if pageid == p.0 %}currentPage{% endif %}">
						<a href="{% url reanalyse.reanalyseapp.views.home %}?p={{bodyid}}&q={{p.0}}">{{p.1}}</a>
						</div>
					{% else %}
						<div class="allPage pageDisabled">{{p.1}}</div>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
{% endblock %}


{% block content %}

<div class="introDiv">
	<!-- if contenthtml display it -->
	{% if contenthtml %}
	<div class="introHtml">
		{% autoescape off %}
		{{contenthtml}}
		{% endautoescape %}
	</div>
	{% endif %}

{% if bodyid == 'access' %}
	{% if pageid == 'login' %}
		<!-- ====================================================================== -->
		{% comment %}Translators: Login page title{% endcomment %}
		<h2>{% trans 'If you already have an account, please login' %}</h2>
			<p>{% trans "If you don't, please consult the page" %} 
			<a href="{% url reanalyse.reanalyseapp.views.home %}?p=access&q=register">access</a>
			</p>
			<!-- NB: we fetch full_path to keep "next" page in GET parameters -->
			<form method="post" action="{{ request.get_full_path }}">
			{% csrf_token %}
			<table class="loginFormTable">
			{{form}}
			</table>
			<input class="inputButt" type="submit" value="{% trans 'login' %}" />
			<!--<input type="hidden" name="next" value="{{ next }}" />-->
			</form>
		<!-- ====================================================================== -->
	{% else %}
	<!-- =============================== -->
		{% if perms.reanalyseapp.can_explore %}
			{% comment %}Translators: Access page: ask for explore status{% endcomment %}
			{% trans 'You can explore the whole site' %}
		{% else %}
		<!-- =============================== -->
			{% if perms.reanalyseapp.can_browse %}
					
				{% if form and wantedenquete %}
					{% comment %}Translators: Access page: ask for explore status{% endcomment %}
					<h2>{% trans 'Ask for an exploration status' %}</h2>
					{% if not form.is_valid %}	
						<form action="{% url reanalyse.reanalyseapp.views.home %}?p=access&q=register&e={{wantedenquete.id}}" method="post">
							{% csrf_token %}
							<table class="registerFormTable">
								<tr>
									{% comment %}Translators: Access page: ask for explore status: Study{% endcomment %}
									<td>{% trans 'Study:' %}</td><td>({{wantedenquete.id}}) {{wantedenquete.name}} [{{wantedenquete|enqueteAuthor}}]</td>
								</tr>
								<tr>
									<td>Motivation</td>
									<td>{{ form.motivation.errors }}{{ form.motivation }}</td>
								</tr>
								<tr>
									<td>Email:</td>
									<td>{{request.user.email}}</td>
								</tr>
							</table>
							<input class="inputButt" type="submit" value="Envoyer" />
						</form>
					{% else %}
						{% comment %}Translators: Access page: request explore status sent{% endcomment %}
						{% blocktrans with wantedenquete.name as enquetename %}
							</br>You request concerning study <b>{{enquetename}}</b> was successfully sent. You will soon receive information in your mailbox
						{% endblocktrans %}
					{% endif %}
				{% else %}
					{% comment %}Translators: Access page: Current Status title{% endcomment %}
					<h2>{% trans 'Current Status' %}</h2>
					{% trans 'You can consult studies on studies. To explore a whole study site, please go to the study you wish to consult.' %}
				{% endif %}
				
			{% else %}
			<!-- =============================== -->
				{% if form %}
					{% comment %}Translators: Access page: ask for browse status{% endcomment %}
					<h2>{% trans 'You can ask for a consultation status' %}</h2>
					{% if not form.is_valid %}
						<form action="{% url reanalyse.reanalyseapp.views.home %}?p=access&q=register" method="post">
							{% csrf_token %}
							<table class="registerFormTable">
								{{ form.as_table }}
							</table>
							<input class="inputButt" type="submit" value="Envoyer" />
						</form>
					{% else %}
						{% comment %}Translators: Access page: request browse status sent{% endcomment %}
						</br>{% trans 'Your request was sent ! You will soon receive information in your mailbox' %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endif %}

</div>
{% endblock %}

{% block bottom %}
{% endblock %}





	{% comment %}
	<!-- DEPRECATED: object to display reanalyse slides from slideshare.com -->
	<!--
	{% if pageid == 'viz' %}
	<div style="width:100%" id="__ss_8613511">
	<strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/medialabSciencesPo/reanalyse-workflow" title="Reanalyse Workflow">Reanalyse Workflow</a></strong>
	<object id="__sse8613511" width="360" height="300"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=reanalyseworkflow-110716104743-phpapp01&stripped_title=reanalyse-workflow&userName=medialabSciencesPo" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse8613511" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=reanalyseworkflow-110716104743-phpapp01&stripped_title=reanalyse-workflow&userName=medialabSciencesPo" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="360" height="300"></embed></object>
	<div style="padding:5px 0 12px">View more <a href="http://www.slideshare.net/">presentations</a> from <a href="http://www.slideshare.net/medialabSciencesPo">medialabSciencesPo</a>.
	</div>
	</div>
	{% endif %}
	-->
	{% endcomment %}



	{% comment %}
	<!-- DEPRECATED: tryout to include real viz to explain viztypes... better to include simple screenshots -->
	<!-- special case of viz explanations: we need to include samples here -->
	{% if bodyid == 'method' and pageid == '4' %}
	<!-- d3 vizus (little frises + viz) -->
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Cloud_SolrSpeakerTagCloud.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_TexteStreamTimeline.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Attributes.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/d3vizus/d3_Overview.js"></script>
	<style type="text/css">
	{% for k,v in speakersColors.items %}.speakerColor_{{k}} {fill:{{v}};}
	{% endfor %}
	</style>
	<script type="text/javascript">
		var thevizids=[6];
		var vizcontainer = $("#viz_examples");
		for(i in thevizids) {
			//console.log("fetching viz id:"+thevizids[i]);
			$.ajax({
				url: '{% url reanalyse.reanalyseapp.views.getVizHtml 2 %}',
				data: {'vizid':thevizids[i]},
				success: function(html){
					var mod=$('<div id="myviz_"'+thevizids[i]+'>');
					mod.html(html);
					mod.appendTo(vizcontainer);
				},
			});
		}
	</script>
	{% endif %}
	{% endcomment %}