{% load tags %}

{% for onlymargin,timepart in timeparts %}
		
		{% if timepart|length == 1 %}		<!-- ########### if only one speaker -->
		
			{% if not onlymargin %} <!-- display raw div if only [comment/time] -->
			<div class="text_part">
				<div class="text_speaker speakerColor_{{timepart.0.0.speaker.id}} speaker_{{timepart.0.0.speaker.id}}">
					<div class="text_speaker_name">
						{{timepart.0.0.speaker.name}}<span class="text_speaker_namecount"> .{{ timepart.0.0.i }}</span>
					</div>
					{% for sentence in timepart.0 %}
						{% autoescape off %}
							{% if highlight %}
								{{sentence.contenthtml|highlighthtml:highlight}}
							{% else %}
								{{sentence.contenthtml}}
							{% endif %}
						{% endautoescape %}
					{% endfor %}
				</div>
			</div>
			{% else %}
			<div class="text_part">
				<div class="text_margin">
					{% for sentence in timepart.0 %}{% autoescape off %}{{sentence.contenthtml}}{% endautoescape %}{% endfor %}
				</div>
			</div>			
			{% endif %}
		
		
		{% else %}							<!-- ########### if concourrant speakers-->
		
		
			<!-- to simplify, we suppose there is never "only_margin" content in concourrant interventions -->
			
			<div class="text_part part_NPART" id="part_NPART">
				<table>
				{% for speakerpart in timepart %}					
					
					<tr><th class="speakerColor_{{speakerpart.0.speaker.id}}">
						<div class="text_speaker speakerColor_{{speakerpart.0.speaker.id}} speaker_{{speakerpart.0.speaker.id}}">
							<div class="text_speaker_name">
								{{speakerpart.0.speaker.name}}
								<span class="text_speaker_namecount"> .{{ speakerpart.0.i }} </span>
							</div>
							{% for sentence in speakerpart %}
								{% autoescape off %}{{sentence.contenthtml}}{% endautoescape %}
							{% endfor %}
						</div>
					</th></tr>
					
				{% endfor %}
				</table>
			</div>
		
		{% endif %}

{% endfor %}

